@theme {
  --animate-text-glimmer: text-glimmer 650ms ease-out 1;
  --animate-heartbeat: heartbeat 0.6s ease-in-out;

  --animate-heartbeat-sm: heartbeat 0.6s ease-in-out;

  --animate-click: click 100ms ease-in-out;
  --animate-click-sm: click-sm 100ms ease-in-out;

  --animate-shift-toward-top-enter: shift-toward-top-enter 120ms
    var(--ease-in-quint);
  --animate-shift-toward-top-exit: shift-toward-top-exit 140ms
    var(--ease-in-quint);

  --animate-shift-toward-bottom-enter: shift-toward-bottom-enter 120ms
    var(--ease-in-quint);
  --animate-shift-toward-bottom-exit: shift-toward-bottom-exit 140ms
    var(--ease-in-quint);

  --animate-shift-toward-left-enter: shift-toward-left-enter 120ms
    var(--ease-in-quint);
  --animate-shift-toward-left-exit: shift-toward-left-exit 140ms
    var(--ease-in-quint);

  --animate-shift-toward-right-enter: shift-toward-right-enter 120ms
    var(--ease-in-quint);
  --animate-shift-toward-right-exit: shift-toward-right-exit 140ms
    var(--ease-in-quint);
}

@-webkit-keyframes blink-1 {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shift-toward-bottom-enter {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes shift-toward-bottom-exit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(6px);
  }
}

@keyframes shift-toward-top-enter {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes shift-toward-top-exit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-6px);
  }
}

@keyframes shift-toward-left-enter {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shift-toward-left-exit {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes shift-toward-right-enter {
  from {
    opacity: 0;
    transform: translateX(8px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shift-toward-right-exit {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(8px);
  }
}

@keyframes collapsible-width-open {
  from {
    opacity: 0.5;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 100%;
    width: 100%;
  }
}
@keyframes collapsible-width-close {
  from {
    opacity: 1;
    max-width: 100%;
    width: 100%;
  }
  to {
    opacity: 0.5;
    max-width: 0;
  }
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.05);
  }
}

@keyframes heartbeat-sm {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.05);
  }
}

@keyframes click-sm {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
}

@keyframes click {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.94);
  }
}

@keyframes text-glimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
