.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s var(--spring);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.shift-toward-subtle {
  transition: transform 100ms ease-out;
  &[data-state="delayed-open"][data-placement^="bottom"],
  &[data-state="delayed-open"][data-placement^="top"] {
    transform: translateY(0px);
  }
  &[data-state="delayed-open"][data-placement^="left"],
  &[data-state="delayed-open"][data-placement^="right"] {
    transform: translateX(0px);
  }
  &[data-state="closed"][data-placement^="top"] {
    transform: translateY(-5px);
  }
  &[data-state="closed"][data-placement^="bottom"] {
    transform: translateY(5px);
  }
  &[data-state="closed"][data-placement^="left"] {
    transform: translatex(5px);
  }
  &[data-state="closed"][data-placement^="right"] {
    transform: translateX(-5px);
  }
}

.parallax {
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}
.parallax:where(:not(.photo)):hover {
  transform: perspective(500px) rotateX(5deg) rotateY(5deg);
}

.parallax.photo:hover {
  @apply ring ring-p3 drop-shadow-md;
  transform: perspective(800px) rotateX(10deg) rotateY(10deg);
}

.shiny-tab-label {
  @apply from-black via-(--primary-400) to-(--primary-600) bg-size-[500%_100%] bg-no-repeat text-transparent not-group-hover/trigger:not-group-active/trigger:bg-(--primary-500)! group-hover/trigger:animate-text-glimmer group-hover/trigger:bg-linear-to-r motion-reduce:group-hover/trigger:animate-none;
}
