@import "tailwindcss";

@layer components {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xxl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm font-semibold flex gap-3 text-[var(--color-pc)]/50;
  }

  h1,
  h2,
  h3 {
    @apply font-bold dst;
  }
  h4 {
    @apply font-semibold dst;
  }
  p {
    @apply leading-5 antialiased;
  }

  span {
    @apply antialiased;
  }

  .dropdown-label-class {
    @apply -mb-2 text-2xs! font-[900] tracking-normal uppercase opacity-50;
  }
  .badge-tooltip-hover {
    @apply inline h-fit rounded-sm px-1 align-bottom text-2xs/3.5 font-semibold text-nowrap opacity-80 ring-neutral/80 hover:bg-neutral/90 hover:text-nc hover:opacity-100 hover:ring hover:ring-offset-2 hover:ring-offset-neutral/90 hover:drop-shadow-xs;
  }
  .popover-button-label {
    @apply my-2 h-6 w-full cursor-pointer items-center justify-between pr-4 !text-sm font-semibold whitespace-nowrap text-[var(--color-pc)]/90;
  }

  .text-badge-xs {
    @apply inline-flex flex-nowrap items-center justify-end gap-1 justify-self-end text-end text-2xs! leading-4 font-bold tracking-tight text-nowrap whitespace-nowrap;
  }

  .progress-label {
    @apply flex shrink-0 items-center gap-1 text-xs leading-4 font-bold *:shrink-0;
  }
  /* text */

  .role-text {
    @apply brightness-70 saturate-250;
  }
  /* images */

  .img-active {
    @apply bg-p3/60 ring-[var(--color-pc)]/60 transition-all duration-200 hover:ring;
  }
  .no-img {
    @apply pointer-events-none border border-p3;
  }

  .icon-grid-style {
    @apply !size-full cursor-pointer rounded-lg hover:bg-neutral hover:ring hover:ring-neutral;
  }
  .rune-hover:hover label,
  .rune-hover[aria-expanded="true"] label {
    @apply opacity-100 ring ring-neutral !grayscale-0;
  }

  /* element */

  .round-wrapper {
    @apply grid shrink-0 place-items-center rounded-full bg-p0;
  }

  .border-shadow {
    @apply rounded-box border border-p3/60 shadow-warm-2 shadow-[#000]/5;
  }

  .border-shadow-sm {
    @apply rounded-box border border-p3/60 shadow-md shadow-[#000]/4 drop-shadow-sm;
  }

  .tip-icon {
    @apply mr-2 mb-0.25 ml-0.5 inline-flex size-4.25 align-middle;
  }

  .inline-icon {
    @apply mr-0.5 mb-0.25 ml-0.5 inline-flex size-4.25 align-middle;
  }

  .ring-check {
    @apply shadow-sm drop-shadow-sm transition-all duration-150 hover:ring hover:ring-neutral/50 hover:ring-offset-2 hover:ring-offset-p2/90 has-checked:ring has-checked:ring-neutral/50 has-checked:ring-offset-2 has-checked:ring-offset-p2/90 has-checked:grayscale-0;
  }

  /*   .ability-effect {
    @apply inline-block justify-self-center align-middle leading-5 dst not-first:ml-2 not-first:border-l not-first:border-l-p3 not-first:pl-4 not-first:not-nth-of-type-2:pt-3 nth-of-type-2:mt-3;
  }
 */
  .ability-header {
    @apply !text-sm font-semibold tracking-normal uppercase dst;
  }

  .corner-mask {
    --r: 4px;
    /* the radius */
    --s: 40px;
    /* the size of the cut */
    --_m: /calc(2 * var(--r)) calc(2 * var(--r))
      radial-gradient(#000 70%, #0000 72%) no-repeat;
    mask:
      calc(var(--s) + var(--r)) 0 var(--_m),
      0 calc(var(--s) + var(--r)) var(--_m),
      radial-gradient(var(--s) at 0 0, #0000 99%, #000 101%) var(--r) var(--r)
        no-repeat,
      conic-gradient(
        at calc(var(--s) + 2 * var(--r)) calc(var(--s) + 2 * var(--r)),
        #000 75%,
        #0000 0
      );
  }
}
