@import "tailwindcss";
@import "@nuxt/ui";
@import "./color/index.css";
@import "./theme/index.css";
@import "./components.css";
@import "./custom-variants.css";
@import "./utilities.css";
@import "./utils.css";
@import "./animation.css";

@layer base {
  :root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    color: var(--color-pc);
    font-family: var(--font-sans);
  }

  * {
    scrollbar-color: color-mix(in lch, var(--color-p4) 80%, transparent 20%)
      transparent;
    @apply border-p3 decoration-from-font underline-offset-2 antialiased;
  }
  img,
  div {
    @apply select-none;
  }

  html,
  body,
  #app {
    @apply text-md text-pc selection:bg-neutral/80 selection:text-nc;
  }

  input,
  input:where(:not([type="button"], [type="reset"], [type="submit"])),
  select,
  textarea,
  .reset-input {
    @apply border-transparent ring-0 ring-offset-0 outline-0 focus:ring-0 focus:outline-0;
  }
}

@layer components {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xxl;
  }

  h4 {
    @apply text-xl font-semibold antialiased ds-2xs select-none;
  }

  h5 {
    @apply text-lg antialiased select-none;
  }

  h6 {
    @apply flex gap-3 text-sm font-semibold text-pc/50 antialiased select-none;
  }

  h1,
  h2,
  h3 {
    @apply font-bold antialiased ds-2xs select-none;
  }
  p {
    @apply leading-5 antialiased;
  }

  span {
    @apply antialiased;
  }
}
