@import "tailwindcss";

@utility noise-* {
  --noise: --value(number);
}

@utility depth-* {
  --depth: --value(number);
}

@utility ds-* {
  filter: drop-shadow(--value(--drop-shadow-*));
}

@utility sh-* {
  box-shadow: --value(--shadow-*);
}

@utility iss-* {
  box-shadow: --value(--inset-shadow-*);
}

@utility text-last-* {
  text-align-last: --value("start", "end", "center", "justify");
}

.scrollbar-none {
  scrollbar-color: transparent transparent !important;
  &::-webkit-scrollbar {
    scrollbar-color: transparent transparent !important;
    display: none !important;
  }
}

/* @utility animate-gradient-* {
  animation: gradient --value(integer) s ease infinite;
} */
