@import "tailwindcss";

@utility inset-shadow-morphic-* {
  box-shadow:
    inset 2px 2px 5px rgba(0, 0, 0, 0.14),
    inset -5px -5px 10px var(--color-p0);
  box-shadow:
    inset 2px 2px calc(--value(integer) * 1px) rgba(0, 0, 0, 0.14),
    inset -5px -5px 10px var(--color-p0);
  box-shadow:
    inset 2px 2px 5px rgb(0 0 0 / calc(--modifier(integer) / 100)),
    inset -5px -5px 10px var(--color-p0);
  box-shadow:
    inset 2px 2px calc(--value(integer) * 1px)
      rgb(0 0 0 / calc(--modifier(integer) / 100)),
    inset -5px -5px 10px var(--color-p0);
}

@utility hover-3d-shine {
  & > :first-child::before {
    filter: blur(0.55rem);
    background-image: radial-gradient(
      circle at 50%,
      rgb(255 255 255 / 0.45) 14%,
      transparent 52%
    );
  }
}

@utility hover-btn-text-* {
  opacity: 0.6;
  opacity: calc(--value(integer) / 100);

  @apply group-hover/btn:opacity-100;
}

@utility border-* {
  border-style: --value("ridge", "groove", "inset", "outset");
}

@utility noise-* {
  --noise: --value(number);
}

@utility depth-* {
  --depth: --value(number) !important;
}

@utility ds-* {
  filter: drop-shadow(--value(--drop-shadow-*));
}

@utility text-last-* {
  text-align-last: --value("start", "end", "center", "justify");
}

.scrollbar-none {
  scrollbar-color: transparent transparent !important;
  &::-webkit-scrollbar {
    scrollbar-color: transparent transparent !important;
    display: none !important;
  }
}

/* @utility animate-gradient-* {
  animation: gradient --value(integer) s ease infinite;
} */
