# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.storage
.history
.scripts

# Node dependencies
node_modules

# Logs
logs
*.log

#notes
**/📌*

#old
**/📜*
**/⌦*

#todo
**/🔜*

#idea
**/💭*

#refactor
**/🧼*
#delete
**/❌*
**/🗑️*


# Misc
.DS_Store
.fleet
.idea
.code-workspace
tailwind.config.js

# data folders
/data/
/z/
data
d1

#wrangler
.wrangler
.dev.vars*

# Local env files
.env
.env.*
!.env.example


# Scraps local notes
.scraps/
