# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
.storage
.history
.scripts

# Node dependencies
node_modules

# Logs
logs
*.log



#notes
.notes
notes
**/📌*




# Misc
.DS_Store
.fleet
.idea
.code-workspace
.dev

# data folders
original
d1
.no

#wrangler
.wrangler
.dev.vars*

# Local env files
.env
.env.*
!.env.example


# js and js maps
*.js
*.js.map
