# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
.vscode
.storage
.history
.scripts
.agents/skills
.agents
gitignore
.nuxtrc
*.cpuprofile
*.code-workspace
nuxt-build.cpuprofile
--host
.notes
.pnpm-store
# Node dependencies
node_modules
test
# Logs
logs
*.log
docs

patch
AGENTS.md
lolpocket.code-workspace

#notes
.notes
notes

^prettier.config.js
vitest.config.ts
pnpmconfig.json

# Misc
.DS_Store
.fleet
.idea
.code-workspace
.dev

# data folders
original
d1
.no

#wrangler
.wrangler
.dev.vars*

# Local env files
.env
*.env
.env.*
!.env.example

# js and js maps
*.js
*.js.map
AGENTS.md
