@import 'tailwindcss';
@import '@/client/assets/css/utilities.css';
@import '@/client/assets/css/fonts.css' layer(base);
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '@/client/assets/animation/animations.css';
/* @import '@assets/css/drag.css'; */
@import './theme.css' layer(base);
@import './themes.css' layer(base);

@plugin "daisyui" {
    logs: true;
    root: ':root';

    themes: false;
}
/*     include: reset, keyframes, carousel, checkbox, join, swap, kbd, rating,
        radio, tabs, toggle, mask, properties, states; */
@config './tailwind.config.js';

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--b2, currentColor);
    }

    :root * {
        font-family: 'Geist Sans', 'sans-serif';
        overscroll-behavior: none;
        user-select: none;
        font-size: '12px';
    }

    html {
        @apply border-b3;
    }

    html {
        @apply !overflow-hidden overscroll-none border-none bg-transparent select-none;
        ** {
            @apply overscroll-none scroll-smooth select-none;
        }
    }
    #app {
        @apply border-b3/90 top-0 left-0 m-0 h-screen w-screen max-w-screen !overflow-hidden !rounded-[0.95rem] border bg-transparent p-0 select-none;
        > * {
            @apply !rounded-[0.70rem];
        }
    }
}
