@layer theme, base, components, utilities;

@import 'tailwindcss';
@import './themes/theme.css' layer(theme);
@import './utilities.css' layer(utilities);
@import './preflight.css' layer(base);

/* @import './setup.css';
@import './fonts.css'; */
/*@import './animation/animations.css';
@import './css/splitpanes.css';
@import './css/gradients.css';
@import './css/floating-vue.css';
@import './css/drag.css';

@import 'floating-vue/dist/style.css'; */
/* 
@import '@fontsource/geist-mono';

@plugin "daisyui";
@plugin 'tailwind-scrollbar-hide';

@plugin 'tailwindcss-animate';
@plugin '@windwards/plugin-mask'; */

@layer base {
    input,
    textarea,
    select,
    button {
        border: 0px solid;
        border-radius: 0;
        padding: 0;
        color: inherit;
        background-color: transparent;
    }
}
