:root {
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        user-select: none;
        scroll-behavior: smooth;
    }

    html,
    body,
    * {
        font-size: '12px';
        margin: 0;
        padding: 0;
        background: transparent;
    }
}
