:root {
    --rounded-xl: 0.7rem !important;
    --rounded-btn: 0.4rem !important;
    --rounded-badge: 0.5rem !important;

    overscroll-behavior: contain;
    user-select: none;
    @apply m-0 scroll-smooth bg-transparent p-0;
}

.tab {
    --tab-bg: oklch(var(--b1) / 90%) !important;
    --tab-corner-bg: oklch(var(--b1) / 60%) !important;
    --tab-border: 1px !important;
    --tab-radius: 0.45rem !important;
}

.text-base {
    @apply tracking-tight;
}

.toggle {
    --tglbg: oklch(var(--b1) / 95%);
}

.collapse-arrow > .collapse-title:after {
    @apply size-[0.43rem] opacity-80;
}

.divider-thin {
    @apply border-b3 border-b;
}

.checkbox-blue.checkbox {
    --chkbg: #81a1c1;
    --chkfg: oklch(var(--bc));
}

.checkbox-xs {
    @apply rounded-[4px];
}

/* -----------------------------------------------------------------------
        ♡ COLORS
-----------------------------------------------------------------------*/

[data-tag='Support'] {
    @apply text-info-content bg-cyan-700/40;
}

[data-tag='Mage'] {
    @apply bg-info text-primary-content;
}

[data-tag='Marksman'] {
    @apply bg-warning/70 text-warning-content;
}

[data-tag='Assassin'] {
    @apply bg-error/80 text-base-content;
}

[data-tag='Tank'] {
    @apply bg-success/70 text-success-content;
}

[data-tag='Fighter'] {
    @apply text-base-content bg-orange-600/60;
}

.resolveColor {
    --path-color: success;
}
.bg-precision {
    --path-color: warning;
}
.bg-domination {
    --path-color: error;
}
.bg-sorcery {
    @apply bg-info/60;
}
.inspirationColor {
    --path-color: cyan-700;
}
