/* tabs */

@utility tabs-box {
  border-radius: var(--radius-lg);
}

@utility tabs-box {
  @apply rounded-lg;
}


@utility tabs-sm {
  .tab {
    @apply h-8.5 pt-0.75;
    --tab-radius-min: 0.64rem;
  }
  .tab-content {
    --tabcontent-radius-se: var(--radius-xl);
    --tabcontent-radius-es: var(--radius-xl);
    --tabcontent-radius-ee: var(--radius-xl);
  }
}


@utility tab {
  --radius-field: 1rem;
  --tab-bg: var(--b1);
  --tab-border-color: var(--color-b3);
  --tab-border-colors: var(--color-b3);

  &::before {
    @apply mix-blend-plus-lighter opacity-90;
  }
}

@layer utilities {

  .tab {

      @apply gap-2 z-1 text-3  !font-medium flex items-center !border-b-0 !text-start has-checked:!border-t-2 has-checked:!border-x-2;
      &:not(.tab-active) {
        @apply border-transparent border-2;
        &:hover {
        @apply border-[var(tab-border-color)] bg-b2;
      }
      }
      & .tab-active {
        @apply !border-t-2 !border-x-2 border-b-0 border-b-transparent;
      }
    }
}
