@import "tailwindcss";
@import "./base.css";

@plugin "daisyui" {
  themes:
    light --default,
    dim,
    dark;
  styled: true;
  exclude:
    rootcolor,
    navbar,
    link,
    toast,
    skeleton,
    steps drawersidebar,
    hero,
    fileinput;
}

@plugin "daisyui/theme" {
  name: "light";
  default: "true";
  prefersdark: false;
  color-scheme: light;

  --color-base-100: var(--ui-p0);
  --color-base-200: var(--ui-p2);
  --color-base-300: var(--ui-p3);
  --color-base-content: var(--ui-pc);
  --color-primary: var(--ui-n0);
  --color-primary-content: var(--ui-nc);

  --color-secondary: var(--ui-p1);
  --color-secondary-content: var(--ui-pc);

  --color-accent: var(--ui-p3);
  --color-accent-content: var(--ui-pc);

  --color-neutral: var(--ui-n0);
  --color-neutral-content: var(--ui-nc);

  --color-info: var(--ui-sorc);
  --color-info-content: var(--ui-sorc-content);
  --color-success: var(--ui-res);
  --color-success-content: var(--ui-res-content);
  --color-warning: var(--ui-pre);
  --color-warning-content: var(--ui-pre-content);
  --color-error: var(--ui-dom);
  --color-error-content: var(--ui-dom-content);

  --radius-selector: var(--radius-sm);
  --radius-box: var(--radius-xl);
  --radius-field: var(--radius-lg);

  --input-color: var(--ui-p3);
  --tab-border-color: var(--ui-p3);
  --tab-border-colors: var(--ui-p3);

  --color-accent: var(--ui-insp);
  --color-accent-content: var(--ui-insp-content);
  /* base sizes */
  /*   --size-selector: 0.25rem;
  --size-field: 0.25rem; */

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 0.4;
  --noise: 0.2;
}

@utility tab {
  --tab-radius-min: 0.65rem !important;
  --radius-field: 1rem;
  --tab-bg: var(--ui-p0);
}
@utility tabs {
  --tab-paddings: 4px 20px !important;
  --tab-border-color: var(--color-p3);
  --tab-border-colors: var(--color-p3);
}

@utility tabs-md {
  --tabs-height: 30px;
}

@utility tab-content {
  --tabcontent-radius-se: var(--radius-xl);
  --tabcontent-radius-es: var(--radius-xl);
  --tabcontent-radius-ee: var(--radius-xl);
}

@utility kbd {
  border-color: var(--ui-p4);
}
@layer utilities {
  .btn {
    --size: 0;
    animation-duration: 0;
    transition-duration: 0;
  }
  .btn-active.btn-ghost {
    --btn-bg: var(--ui-p1);
  }
  .btn-active.btn-neutral {
    --btn-bg: var(--ui-n1) !important;
  }
  .btn-neutral {
    @apply bg-neutral;
  }

  /* TABLE */
  .table {
    tr {
      @apply h-12 items-center!;
    }
    th,
    td {
      @apply h-full items-center py-0! text-sm! not-last:text-center last:text-end;
    }
  }

  /* tabs */
  .tab {
    @apply z-1 flex items-center gap-2 text-start! text-md font-medium! capitalize;
    &::before {
      @apply opacity-90 mix-blend-plus-lighter;
    }
  }
  .tabs-box {
    border-radius: var(--radius-lg);
  }
  .tabs-box {
    @apply rounded-lg;
  }

  .tabs-sm {
    .tab {
      @apply h-8.5 pt-0.75;
      --tab-radius-min: 0.64rem;
    }
  }

  .fx-0 {
    --noise: 0;
    --depth: 0;
  }

  .fx-1 {
    --noise: 0.2;
    --depth: 0.5;
  }

  /* tooltip */

  .tooltip-light {
    --tt-bg: --alpha(var(--color-p0) / 99%) !important;
    @apply relative;

    &::before {
      @apply border-p3 bg-(--tt-bg) text-(--color-pc);
    }

    &::after {
      @apply hidden;
    }
  }
  .tooltip {
    @apply cursor-default select-none hover:underline;
    &::before {
      @apply z-50 max-w-66 px-3 py-1.5 text-start text-sm/5.5 text-pretty whitespace-pre-wrap text-nc drop-shadow-sm transition-all duration-300;
      &::after {
        @apply transition-all delay-200 duration-200;
      }
    }
  }

  /* input */

  .input {
    --input-color: var(--color-p3);
  }

  .text-area {
    &:focus-within {
      @apply ring-1 ring-pc/60;
    }
  }
  /* divider */

  .divider {
    @apply h-px text-sm font-semibold opacity-50;
  }

  /* badge */

  .badge {
    @apply box-border flex items-center gap-2 rounded-lg px-2 text-sm shadow-sm shadow-black/2 ds-xs;
  }

  .badge-neutral {
    @apply bg-neutral text-nc;
  }

  .badge-default {
    @apply border-p3 bg-p0/94 text-(--color-pc) backdrop-blur-sm;
  }

  /* chkbx */

  .checkbox-neutral {
    @apply border-p3 inset-shadow-none;
  }
  .checkbox-sm {
    @apply rounded-[3.5px];
  }

  .checkbox-xs {
    @apply rounded-[3.5px];
  }

  /* chat */

  .chat-header {
    @apply translate-y-0.75 px-2 text-xs leading-0!;
  }
  .chat-footer {
    @apply -translate-y-2.75 px-2 text-xs! leading-0!;
  }

  .chat-bubble {
    @apply bg-p2;
    &::before {
      @apply translate-x-1 -translate-y-[6.5px] scale-x-200 scale-y-250;
    }
  }
}
