@import "tailwindcss";

:root {
  --ui-radius: 0.25rem;
  --ui-header-height: 45px;
  --ui-container: 1280px;
  --ui-aside: var(--spacing) * 110;
}

@theme {
  --default-font-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif:
    "Noto Serif KR", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-mono:
    "Geist Mono", SFMono-Regular, ui-monospace, "Liberation Mono",
    "Courier New", Consolas, Menlo, Monaco, monospace;
  --font-display:
    "DM Serif Display", "Noto Serif KR", Charter, "Bitstream Charter",
    "Sitka Text", Cambria, serif;

  /* radius */
  --radius-larger: 0.6rem;
  --radius-lg-2: 0.62rem;

  --text-3xs: 0.78rem;
  --text-2xs: 0.82rem;
  --text-xs: 0.89rem;
  --text-sm: 0.94rem;
  --text-md: 0.99rem;
  --text-lg: 1.05rem;
  --text-xl: 1.15rem;
  --text-xxl: 1.3rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.675rem;
  --text-5xl: 1.875rem;
  --text-6xl: 2rem;

  --shadow-pretty: 0 3px 10px rgba(0, 0, 0, 0.2);
  --shadow-warm: rgba(0, 0, 0, 0.08) 0px 2px 7px;
  --shadow-warm-2: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  --shadow-warm-soft: rgba(0, 0, 0, 0.03) 0px 2px 5px;
  --shadow-smooth: 0px 1px 10px rgba(17, 17, 26, 0.075);
  --shadow-mask: 0px 3px 20px 30px #00000024;
  --inset-shadow-mask: inset 0px 0px 20px 16px #00000024;
  --inset-shadow-sides: inset 0 0 2px 2px rgba(0, 0, 0, 0.06);
  --inset-shadow-sm-reverse: inset -1px -1px 25px 0px rgba(0, 0, 0, 0.04);
  --inset-shadow-shade-sm: inset 0 0px 3px 1px rgba(0, 0, 0, 0.04);
  --inset-shadow-sm-x: inset 0 -2px 4px rgb(0 0 0 / 0.05);
  --inset-shadow-xxs:
    inset 0.5px 0.5px 0px rgb(0 0 0 / 0.05),
    inset -0.5px -0.5px 0px rgb(0 0 0 / 0.1);

  --drop-shadow-tiny: 1px 0px 0px #00000020;

  --animate-heartbeat: heartbeat 0.6s ease-in-out;

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(1.05);
    }
  }

  --ease-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-spring-soft: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-spring-bouncy: cubic-bezier(0.42, 1.8, 0.68, 1);
  --ease-magnet: cubic-bezier(0.87, 0.11, 0.94, 0.78);

  --animate-shift-toward-top-enter: shift-toward-top-enter 120ms
    ease-var(--ease-magnet);
  --animate-shift-toward-top-exit: shift-toward-top-exit 140ms
    ease-var(--ease-magnet);

  --animate-shift-toward-bottom-enter: shift-toward-bottom-enter 120ms
    ease-var(--ease-magnet);
  --animate-shift-toward-bottom-exit: shift-toward-bottom-exit 140ms
    ease-var(--ease-magnet);

  --animate-shift-toward-left-enter: shift-toward-left-enter 120ms
    ease-var(--ease-magnet);
  --animate-shift-toward-left-exit: shift-toward-left-exit 140ms
    ease-var(--ease-magnet);

  --animate-shift-toward-right-enter: shift-toward-right-enter 120ms
    var(--ease-magnet);
  --animate-shift-toward-right-exit: shift-toward-right-exit 140ms
    ease-var(--ease-magnet);

  @keyframes shift-toward-bottom-enter {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes shift-toward-bottom-exit {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(6px);
    }
  }

  @keyframes shift-toward-top-enter {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes shift-toward-top-exit {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-6px);
    }
  }

  @keyframes shift-toward-left-enter {
    from {
      opacity: 0;
      transform: translateX(-8px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes shift-toward-right-exit {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-8px);
    }
  }

  @keyframes shift-toward-right-enter {
    from {
      opacity: 0;
      transform: translateX(8px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes shift-toward-right-exit {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(8px);
    }
  }
}

/*
@theme inline {
}
 */
