@import "tailwindcss";

:root {
  --ui-radius: 0.375rem;
  --ui-header-height: 45px;
  --ui-container: 1280px;
  --ui-aside: var(--spacing) * 110;

  /* Chart Fallback Colors */
  --vis-color0: var(--ui-insp) !important;
  --vis-color1: var(--ui-res) !important;
  --vis-color2: var(--ui-pre) !important;
  --vis-color3: var(--ui-dom) !important;
  --vis-color4: var(--ui-sorc) !important;

  /* Legend */
  --vis-legend-item-spacing: 0px !important;
  --vis-legend-spacing: 16px !important;
  --vis-legend-label-color: var(--ui-text-muted) !important;

  /* Axis */
  --vis-axis-grid-color: rgba(0, 0, 0, 0.1) !important;
  --vis-axis-tick-label-color: var(--ui-text-muted) !important;
  --vis-axis-label-color: var(--ui-text-muted) !important;
  --vis-axis-tick-color: var(--ui-text-muted) !important;
  --vis-axis-domain-line-dasharray: none !important;
  --vis-axis-tick-label-weight: 400 !important;

  /* Timeline */
  --vis-timeline-row-even-fill-color: #f9fafb !important;
  --vis-timeline-row-odd-fill-color: transparent !important;
  --vis-timeline-label-color: var(--ui-text-muted) !important;
}

@theme inline {
  --color-p0: var(--ui-p0);
  --color-p1: var(--ui-p1);
  --color-p2: var(--ui-p2);
  --color-p3: var(--ui-p3);
  --color-p4: var(--ui-p4);
  --color-p5: var(--ui-p5);
  --color-pc: var(--ui-pc);

  --color-n5: var(--ui-n5);
  --color-n4: var(--ui-n4);
  --color-n3: var(--ui-n3);
  --color-n2: var(--ui-n2);
  --color-n1: var(--ui-n1);

  --color-n0: var(--ui-n0);
  --color-neutral: var(--ui-neutral);
  --color-nc: var(--ui-nc);

  --color-legendary: var(--ui-legendary);
  --color-info: var(--ui-sorc);
  --color-success: var(--ui-res);
  --color-warning: var(--ui-pre);
  --color-error: var(--ui-dom);

  --color-pre: var(--ui-pre);
  --color-dom: var(--ui-dom);
  --color-sorc: var(--ui-sorc);
  --color-res: var(--ui-res);
  --color-insp: var(--ui-insp);
}

@theme {
  --default-font-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif:
    "Noto Serif KR", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-mono:
    "Geist Mono", SFMono-Regular, ui-monospace, "Liberation Mono",
    "Courier New", Consolas, Menlo, Monaco, monospace;
  --font-display:
    "DM Serif Display", "Noto Serif KR", Charter, "Bitstream Charter",
    "Sitka Text", Cambria, serif;

  /* radius */
  --radius: 0.285rem;

  --text-*: initial;
  --text-3xs: 0.78rem;
  --text-2xs: 0.82rem;
  --text-xs: 0.89rem;
  --text-sm: 0.94rem;
  --text-base: 0.94rem;
  --text-md: 0.98rem;
  --text-lg: 1.05rem;
  --text-xl: 1.15rem;
  --text-xxl: 1.3rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.675rem;
  --text-5xl: 1.875rem;
  --text-6xl: 2rem;

  --shadow-2xs: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  --drop-shadow-2xs: 1px 0px 0px #00000020;
  --inset-shadow-2xs: inset 1px 1px 0 rgba(0, 0, 0, 0.1);

  --shadow-warm: rgba(0, 0, 0, 0.08) 0px 2px 7px;
  --shadow-warm-2: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  --shadow-warm-soft: rgba(0, 0, 0, 0.03) 0px 2px 5px;

  --animate-heartbeat: heartbeat 0.6s ease-in-out;

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(1.05);
    }
  }

  --ease-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-spring-soft: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-spring-bouncy: cubic-bezier(0.42, 1.8, 0.68, 1);
  --ease-magnet: cubic-bezier(0.87, 0.11, 0.94, 0.78);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  --animate-shift-toward-top-enter: shift-toward-top-enter 120ms
    ease-var(--ease-in-quint);
  --animate-shift-toward-top-exit: shift-toward-top-exit 140ms
    ease-var(--ease-in-quint);

  --animate-shift-toward-bottom-enter: shift-toward-bottom-enter 120ms
    ease-var(--ease-in-quint);
  --animate-shift-toward-bottom-exit: shift-toward-bottom-exit 140ms
    ease-var(--ease-in-quint);

  --animate-shift-toward-left-enter: shift-toward-left-enter 120ms
    ease-var(--ease-in-quint);
  --animate-shift-toward-left-exit: shift-toward-left-exit 140ms
    ease-var(--ease-in-quint);

  --animate-shift-toward-right-enter: shift-toward-right-enter 120ms
    var(--ease-in-quint);
  --animate-shift-toward-right-exit: shift-toward-right-exit 140ms
    ease-var(--ease-in-quint);

  @keyframes shift-toward-bottom-enter {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes shift-toward-bottom-exit {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(6px);
    }
  }

  @keyframes shift-toward-top-enter {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes shift-toward-top-exit {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-6px);
    }
  }

  @keyframes shift-toward-left-enter {
    from {
      opacity: 0;
      transform: translateX(-8px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes shift-toward-right-exit {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-8px);
    }
  }

  @keyframes shift-toward-right-enter {
    from {
      opacity: 0;
      transform: translateX(8px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes shift-toward-right-exit {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(8px);
    }
  }
}
