@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-serif:
    "Zodiak Variable", Charter, "Bitstream Charter", "Sitka Text", Cambria,
    serif;
  --font-mono:
    "Source Code Pro", SFMono-Regular, ui-monospace, "Liberation Mono",
    "Courier New", Consolas, Menlo, Monaco, monospace;

  --text-*: initial;
  --text-3xs: 0.78rem;
  --text-2xs: 0.82rem;
  --text-xs: 0.89rem;
  --text-sm: 0.94rem;
  --text-base: 0.94rem;
  --text-md: 0.98rem;
  --text-lg: 1.05rem;
  --text-xl: 1.15rem;
  --text-xxl: 1.3rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.675rem;
  --text-5xl: 1.875rem;
  --text-6xl: 2rem;
  --text-7xl: 2.2rem;
  --text-8xl: 2.4rem;
}

@layer components {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xxl;
  }

  h4 {
    @apply text-xl font-semibold antialiased ds-2xs select-none;
  }

  h5 {
    @apply text-lg antialiased select-none;
  }

  h6 {
    @apply flex gap-3 text-sm font-semibold antialiased select-none;
  }

  h1,
  h2,
  h3 {
    @apply font-bold antialiased ds-2xs select-none;
  }
  p {
    @apply leading-5 antialiased;
  }

  span {
    @apply antialiased;
  }

  .prose {
    @apply -space-y-1;

    p {
      @apply mt-0! w-full -space-y-1 text-lg/7.5 font-medium text-pretty;
    }

    ul {
      @apply my-0! -space-y-1 py-0! leading-none font-medium marker:text-p5!;
      li {
        @apply my-0! leading-7;
      }
    }
    table {
      @apply w-fit! max-w-full;
      th {
        @apply w-fit! px-5! text-md;
      }
      tr {
        @apply w-fit! even:bg-p3/80;
        td {
          @apply w-fit! px-5! text-md font-medium text-nowrap not-first:justify-self-center not-first:text-center;
        }
      }
    }

    blockquote {
      @apply border-l-p4;
    }

    hr {
      @apply my-1! border-p5! bg-p5! text-p5!;
    }

    h1 {
      @apply text-5xl;
    }

    a {
      @apply text-link! no-underline! saturate-110 hover:underline!;
    }

    a:visited {
      @apply text-link! underline! decoration-dotted brightness-84 saturate-80;
    }
  }
}

/**
'wght' (range from 100.0 to 900.0
*/
@font-face {
  font-family: "Zodiak Variable";
  src: url("/fonts/Zodiak/Zodiak-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
/**
'wght' (range from 100.0 to 900.0
*/
@font-face {
  font-family: "Zodiak Variable";
  src: url("/fonts/Zodiak/Zodiak-VariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
