 /* lora-latin-wght-normal */
    @font-face {
        font-family: 'Lora Variable';
        font-style: italic;
        font-display: swap;
        font-weight: 400 700;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/lora:vf@latest/latin-wght-italic.woff2)
            format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
            U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* lora-latin-wght-normal */
    @font-face {
        font-family: 'Lora Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 400 700;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/lora:vf@latest/latin-wght-normal.woff2)
            format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
            U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* geist-sans-latin-300-normal */
    @font-face {
        font-family: 'Geist Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 300;
        src:
            url(@fontsource/geist-sans/files/geist-sans-latin-300-normal.woff2)
                format('woff2'),
            url(@fontsource/geist-sans/files/geist-sans-latin-300-normal.woff)
                format('woff');
    }

    /* geist-sans-latin-400-normal */
    @font-face {
        font-family: 'Geist Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src:
            url(@fontsource/geist-sans/files/geist-sans-latin-400-normal.woff2)
                format('woff2'),
            url(@fontsource/geist-sans/files/geist-sans-latin-400-normal.woff)
                format('woff');
    }

    /* geist-sans-latin-500-normal */
    @font-face {
        font-family: 'Geist Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 500;
        src:
            url(@fontsource/geist-sans/files/geist-sans-latin-500-normal.woff2)
                format('woff2'),
            url(@fontsource/geist-sans/files/geist-sans-latin-500-normal.woff)
                format('woff');
    }

    /* geist-sans-latin-600-normal */
    @font-face {
        font-family: 'Geist Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 600;
        src:
            url(@fontsource/geist-sans/files/geist-sans-latin-600-normal.woff2)
                format('woff2'),
            url(@fontsource/geist-sans/files/geist-sans-latin-600-normal.woff)
                format('woff');
    }

    /* geist-sans-latin-700-normal */
    @font-face {
        font-family: 'Geist Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 700;
        src:
            url(@fontsource/geist-sans/files/geist-sans-latin-700-normal.woff2)
                format('woff2'),
            url(@fontsource/geist-sans/files/geist-sans-latin-700-normal.woff)
                format('woff');
    }

    /* victor-mono-latin-wght-normal */
    @font-face {
        font-family: 'Victor Mono Variable';
        font-style: italic;
        font-display: swap;
        font-weight: 100 700;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/victor-mono:vf@latest/latin-wght-italic.woff2)
            format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
            U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* victor-mono-latin-wght-normal */
    @font-face {
        font-family: 'Victor Mono Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 100 700;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/victor-mono:vf@latest/latin-wght-normal.woff2)
            format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
            U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    
@theme {
    --font-*: initial;
    --font-sans: 'Geist Sans', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Lora Variable', ui-serif, Georgia, Cambria, 'Times New Roman',
        Times, serif;
    --font-mono: 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, monospace;
    --font-cursive: 'Victor Mono Variable';

   --text-*: initial;
    --text-1: '0.8rem', {lineHeight: '1rem'};
    --text-2: '0.93rem', {lineHeight: '1.25rem'};
    --text-3: '0.97rem', {lineHeight: '1.4rem'};
    --text-4: '1rem', {lineHeight: '1.5rem'};
    --text-5: '1.075rem', {lineHeight: '1.5rem'};
    --text-6: '1.125rem', {lineHeight: '1.75rem'};
    --text-7: '1.2rem', {lineHeight: '1.55rem'};
    --text-8: '1.25rem', {lineHeight: '1.75rem'};
    --text-9: '1.5rem', {lineHeight: '2rem'};
    --text-10: '1.875rem', {lineHeight: '2.25rem'};
    --text-11: '2.25rem', {lineHeight: '2.5rem'};

    --color-tea-rose: '#E2ACAC';
    --color-dark-rose: '#CE8E8E';
    --color-precision: '#ebcb8b';
    --color-domination: '#bf616a';
    --color-inspiration: '#A4C1C4';
    --color-sorcery: '#b48dad';
    --color-resolve: '#a3be8c';
    --color-current: 'currentColor';

        --radius-box: 0.7rem;
    --radius-btn: 0.4rem;
    --radius-badge: 0.5rem;

    @keyframes accordion-down {
        from: { height: 0 },
        to: { height: 'var(--radix-accordion-content-height)' },
    }
    @keyframes accordion-up{
        from: { height: 'var(--radix-accordion-content-height)' },
        to: { height: 0 },
    }
    @keyframes collapsible-down {
        from: { height: 0 },
        to: { height: 'var(--radix-collapsible-content-height)' },
    }
    @keyframes collapsible-up {
        from: { height: 'var(--radix-collapsible-content-height)' },
        to: { height: 0 },
    }

    --accordion-down: accordion-down 0.2s ease-in-out;
    --accordion-up: accordion-up 0.2s ease-in-out;
    --collapsible-down: collapsible-down0.2s ease-in-out;
    --collapsible-up: collapsible-up 0.2s ease-in-out;

    --shadow-lil: 2px 2px 4px 1px rgba(0, 0, 0, 0, 0.3);
    --shadow-warm: 0px 2px 5px 0px rgba(50, 50, 105, 0.15) , 0px 1px 1px 0px rgba(0, 0, 0, 0.05) ;
    --shadow-standard:0px 2px 3px -1px rgba(0,0,0,0.1),0px 1px 0px 0px rgba(25,28,33,0.02),0px 0px 0px 1px rgba(25,28,33,0.08);
    --shadow-cham: inset 12px 8px 40px #46464620;
    --shadow-inset: inset 1px 2px 8px 2px #00000009, inset -2px -1px 5px 1px inset-sm;
    --shadow-inset: 1px 2px 1px 1px #00000004, inset -1px -1px 2px 1px #00000009;
    --shadow-smooth: rgba(17, 17, 26, 0.07) 0px 0px 16px;
    --shadow-pretty: 0 3px 10px rgb(0,0,0,0.2);

    --drop-shadow-soft: '0px 0px 1px #00000060';
    --drop-shadow-softer: '0px 0px 1px #00000040';
    --drop-shadow-softest: '0px 0px 1px #00000020';   
}
