.drag-draggable {
    @apply flex h-auto max-h-full w-full flex-wrap items-center gap-3.5 overflow-y-scroll;
}
.drag-label {
    @apply !relative z-0 flex items-center justify-center overflow-auto rounded-lg p-[2px] shadow-sm ring-1 ring-transparent has-[div.img-loaded]:hover:ring-neutral/40;
}
.drag-wrapper {
    @apply pointer-events-none aspect-square select-none overflow-hidden rounded-lg border border-base-300 bg-contain;
}

.drag-img {
    @apply pointer-events-none bg-cover;
}

/* .champion {
  .drag-label {
    @apply max-w-[72px] max-h-[72px];
  }
  .drag-wrapper {
    @apply max-w-[68px]  min-w-[60px];
  }
  .drag-img {
    @apply scale-[115%];
  }
} */

.ghosty {
    @apply aspect-square rounded-md border !border-base-300 bg-base-200/30 p-5 shadow-[inset_1px_1px_2px_2px_#00000008] hover:ring-0;

    & .drag-label,
    & .drag-wrapper {
        @apply !border-transparent !ring-transparent !ring-offset-transparent;
    }
    & .drag-label {
        @apply opacity-100;
    }
    & .drag-wrapper {
        @apply rounded-none bg-contain opacity-20;
    }
    & .drag-img {
        @apply invisible hidden opacity-0 shadow-none ring-transparent ring-offset-transparent;
    }
}

.setDrag {
    @apply rounded-box border border-base-300 bg-base-100;
}

.drag-clone {
    opacity: 0.5;
    pointer-events: none; /* Prevent interaction */
    position: absolute; /* Ensure it behaves like a drag */
}

.v-popper--shown .drag-label {
    @apply ring-neutral/40;
}
