<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
@import 'tailwindcss';
h1 {
    font-size: var(--text-8);
    font-weight: 600;
}
h2 {
    font-size: var(--text-7);
    font-weight: 600;
}
h3 {
    font-size: var(--text-6);
    font-weight: 600;
}
h4 {
    font-size: var(--text-5);
    font-weight: 600;
}
h5 {
    font-size: var(--text-4);
    font-weight: 500;
}
h5 {
    font-size: var(--text-3);
    font-weight: 500;
}

@theme {
    --default-font-family: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif 'sans-serif';
    --font-sans: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif 'sans-serif';

    --font-serif: 'Noto Serif KR Variable', 'serif';
    --font-mono: 'Victor Mono Variable', 'monospace';
=======
:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1 {
        font-size: var(--text-8);
        font-weight: 600;
    }
    h2 {
        font-size: var(--text-7);
        font-weight: 600;
    }
    h3 {
        font-size: var(--text-6);
        font-weight: 600;
    }
    h4 {
        font-size: var(--text-5);
        font-weight: 600;
    }
    h5 {
        font-size: var(--text-4);
        font-weight: 500;
    }
    h5 {
        font-size: var(--text-3);
        font-weight: 500;
    }

    .h-sans {
        @apply leading-none tracking-tight;
    }
}

/* geist-sans-latin-300-normal */
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff)
            format('woff');
}

/* geist-sans-latin-400-normal */
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff)
            format('woff');
}

/* geist-sans-latin-500-normal */
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff)
            format('woff');
}

/* geist-sans-latin-600-normal */
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
=======
@import 'tailwindcss';
h1 {
    font-size: var(--text-8);
<<<<<<< HEAD
>>>>>>> 83f9266d (update 42 files and delete 17 files)
    font-weight: 600;
}
h2 {
    font-size: var(--text-7);
    font-weight: 600;
}
h3 {
    font-size: var(--text-6);
    font-weight: 600;
}
h4 {
    font-size: var(--text-5);
    font-weight: 600;
}
h5 {
    font-size: var(--text-4);
    font-weight: 500;
}
h5 {
    font-size: var(--text-3);
    font-weight: 500;
}

<<<<<<< HEAD
=======
=======
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
    font-weight: 600;
}
h2 {
    font-size: var(--text-7);
    font-weight: 600;
}
h3 {
    font-size: var(--text-6);
    font-weight: 600;
}
h4 {
    font-size: var(--text-5);
    font-weight: 600;
}
h5 {
    font-size: var(--text-4);
    font-weight: 500;
}
h5 {
    font-size: var(--text-3);
    font-weight: 500;
}

<<<<<<< HEAD
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
<<<<<<< HEAD
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
/* geist-sans-latin-700-normal */
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff)
            format('woff');
<<<<<<< HEAD
>>>>>>> 4634f11e (update 8 files and delete 426 files)
=======
@theme {
    --default-font-family: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif 'sans-serif';
    --font-sans: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif 'sans-serif';

    --font-serif: 'Noto Serif KR Variable', 'serif';
    --font-mono: 'Victor Mono Variable', 'monospace';
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
>>>>>>> 5132f0ce (update 8 files and delete 426 files)
<<<<<<< HEAD
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
=======
@theme {
    --default-font-family: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif 'sans-serif';
    --font-sans: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif 'sans-serif';

    --font-serif: 'Noto Serif KR Variable', 'serif';
    --font-mono: 'Victor Mono Variable', 'monospace';
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
}

@font-face {
    font-family: 'Victor Mono Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/victor-mono:vf@latest/latin-wght-normal.woff2)
        format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Victor Mono Variable';
    font-style: italic;
    font-display: swap;
    font-weight: 100 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/victor-mono:vf@latest/latin-wght-italic.woff2)
        format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Noto Serif KR Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 200 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-serif-kr:vf@latest/latin-wght-normal.woff2)
        format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
