.grid-item,
.grid-image-container,
.grid-image {
    @apply rounded-md transition-all duration-500;
}

.grid-container {
    @apply grid h-full w-full auto-cols-max grid-flow-row !overflow-y-auto p-4 transition-all duration-500;

    .grid-item {
        @apply shadow-warm relative z-0 size-full w-full ring-1 ring-base-300 ring-offset-1 ring-offset-base-200 hover:ring-offset-primary/60;

        .grid-image-container {
            justify-content: center;
            align-items: center;

            @apply relative z-40 m-0 flex size-full overflow-hidden p-0;

            .grid-image {
                @apply relative z-0 aspect-square object-cover;
            }
            .grid-image:after {
            }
        }

        .grid-image-container::after {
            content: '';
            width: inherit;
            height: inherit;
            transition: all 0.3s ease;
            box-shadow: inset 0px -6px 15px 10px rgba(0, 0, 0, 0.65);
            @apply pointer-events-none absolute z-10 opacity-0;
        }
    }
}

.grid-tip {
    transition: all 0.3s ease;
    transform: translateY(200%);
    @apply pointer-events-none absolute bottom-0 left-0 z-20 flex h-auto w-full cursor-pointer justify-start hyphens-auto text-wrap p-1 text-end align-text-bottom !text-[10px] font-semibold uppercase tracking-wider text-white opacity-0;
}

.grid-item:hover {
    @apply ring-[2px] ring-secondary;
    .grid-image-container {
        .grid-tip {
            transform: none;
            @apply opacity-100;
        }
    }

    .grid-image-container::after {
        @apply opacity-100;
    }
}
