@import 'tailwindcss';
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
@import './utilities.css';
@import './fonts.css' layer(base);
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '../animation/animations.css';
@import './theme.css' layer(base);
@import './themes.css' layer(base);
>>>>>>> 4634f11e (update 8 files and delete 426 files)

@plugin "daisyui" {
    themes: false;
}
<<<<<<< HEAD
=======
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
=======
>>>>>>> 3b388882 (update 1 file and create 1 file)
@import './theme.css';
@import './themes.css';
/* @import '../animation/animations.css';*/

@import './fonts.css';
@config './tailwind.config.ts';
@plugin "tailwindcss-animate";
@plugin 'daisyui' {
    themes: false;
}
<<<<<<< HEAD
=======

>>>>>>> 404a531d (update 84 files and delete 4 files)
@layer base {
    html {
        @apply bg-transparent select-none;
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
@import './theme.css';
@import './themes.css';
/* @import '../animation/animations.css';*/

@import './fonts.css';
@config './tailwind.config.ts';
@plugin "tailwindcss-animate";
>>>>>>> 83f9266d (update 42 files and delete 17 files)

@layer base {
    html {
<<<<<<< HEAD
        font-size: 12px;
        @apply !overflow-hidden bg-transparent select-none;
>>>>>>> 4634f11e (update 8 files and delete 426 files)
=======
        @apply bg-transparent select-none;
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
=======
=======
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
@import './utilities.css';
@import './fonts.css' layer(base);
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '../animation/animations.css';
@import './theme.css' layer(base);
@import './themes.css' layer(base);
<<<<<<< HEAD:src/client/assets/css/index.css

/*@plugin "tailwindcss-animate";*/
@plugin "tailwindcss-radix";
=======
>>>>>>> 4634f11e (update 8 files and delete 426 files):src/assets/css/index.css
=======
>>>>>>> af37d556 (update 1 file and create 1 file)

@plugin "daisyui" {
    themes: false;
}
@import './theme.css';
@import './themes.css';
/* @import '../animation/animations.css';*/

@import './fonts.css';
@config './tailwind.config.ts';
@plugin "tailwindcss-animate";
@plugin 'daisyui' {
    themes: false;
}
@layer base {
    html {
<<<<<<< HEAD
        font-size: 12px;
        @apply !overflow-hidden bg-transparent select-none;
>>>>>>> 5132f0ce (update 8 files and delete 426 files)
<<<<<<< HEAD
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
=======
        @apply bg-transparent select-none;
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
        ** {
            @apply scroll-smooth select-none;
        }
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
=======
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)

    html,
    body {
        font-family: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, sans-serif;
        font-size: var(--text-3);
        @apply text-3 inset-0 m-0 h-screen w-screen p-0;
    }
<<<<<<< HEAD
    #app {
        @apply top-0 left-0 m-0 h-screen w-screen bg-transparent p-0 select-none;
=======
    #app {
        @apply top-0 left-0 m-0 h-screen w-screen max-w-screen !overflow-hidden bg-transparent p-0 select-none;
        > * {
            @apply !rounded-[0.70rem];
        }
<<<<<<< HEAD
>>>>>>> 4634f11e (update 8 files and delete 426 files)
=======
    #app {
        @apply top-0 left-0 m-0 h-screen w-screen bg-transparent p-0 select-none;
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
>>>>>>> 5132f0ce (update 8 files and delete 426 files)
<<<<<<< HEAD
>>>>>>> be133e04 (update 8 files and delete 426 files)
=======
=======
    #app {
        @apply top-0 left-0 m-0 h-screen w-screen bg-transparent p-0 select-none;
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
    }
}
