@import 'tailwindcss';
<<<<<<< HEAD
@import './utilities.css';
@import './fonts.css' layer(base);
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '../animation/animations.css';
@import './theme.css' layer(base);
@import './themes.css' layer(base);
<<<<<<< HEAD:src/client/assets/css/index.css

/*@plugin "tailwindcss-animate";*/
@plugin "tailwindcss-radix";
=======
>>>>>>> 4634f11e (update 8 files and delete 426 files):src/assets/css/index.css

@plugin "daisyui" {
    themes: false;
}
<<<<<<< HEAD:src/client/assets/css/index.css
/*    include: reset, keyframes, carousel, checkbox, join, swap, kbd, rating,
        radio, tab, toggle, mask, properties, states, radialprogress, typography
    exclude: avatar;     */
@config './tailwind.config.js';
=======
>>>>>>> 4634f11e (update 8 files and delete 426 files):src/assets/css/index.css
=======
@import './theme.css';
@import './themes.css';
/* @import '../animation/animations.css';*/

@import './fonts.css';
@config './tailwind.config.ts';
@plugin "tailwindcss-animate";
<<<<<<< HEAD
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
@plugin 'daisyui' {
    themes: false;
}
>>>>>>> 404a531d (update 84 files and delete 4 files)

@layer base {
    html {
        @apply bg-transparent select-none;
        ** {
            @apply scroll-smooth select-none;
        }
    }

    html,
    body {
        font-family: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, sans-serif;
        font-size: var(--text-3);
        @apply text-3 inset-0 m-0 h-screen w-screen p-0;
    }
    #app {
        @apply top-0 left-0 m-0 h-screen w-screen bg-transparent p-0 select-none;
    }
}
