@import 'tailwindcss';
@import '@assets/css/utilities.css';
@import '@assets/css/fonts.css' layer(base);
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '@assets/animation/animations.css';
/* @import '@assets/css/drag.css'; */
@import './theme.css' layer(base);

@plugin "daisyui" {
    logs: true;
    root: ':root';

    themes: false;
}
/*     include: reset, keyframes, carousel, checkbox, join, swap, kbd, rating,
        radio, tabs, toggle, mask, properties, states; */
@config './tailwind.config.js';

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--b2, currentColor);
    }

    :root * {
        font-family: 'Geist Sans', 'sans-serif';
    }

    body {
        @apply absolute top-0 left-0 h-screen w-screen max-w-screen overflow-hidden !rounded-lg !shadow-[inset_-12px_-8px_40px_#00000020] backdrop-blur-md;
    }
}
