.v-popper--theme-detail {
    .v-popper__inner {
        @apply !rounded-lg border border-base-300 !bg-base-100/85 p-0 text-base-content shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] backdrop-blur-md backdrop-brightness-90;
    }

    .v-popper__arrow-outer {
        @apply hidden;
    }

    .v-popper__arrow-inner {
        @apply hidden;
    }
}

.v-popper--theme-context {
    .v-popper__inner {
        @apply w-52 max-w-52 !rounded-[4px] border border-base-300 !bg-base-100/85 p-0 text-base-content shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] backdrop-blur-md backdrop-brightness-90;
    }

    .v-popper__arrow-outer {
        @apply hidden;
    }

    .v-popper__arrow-inner {
        @apply hidden;
    }
}

.v-popper--theme-select {
    .v-popper__inner {
        @apply !rounded-xs border border-base-300 !bg-base-100/90 p-0 text-base-content !shadow-md backdrop-blur-md backdrop-brightness-90;

        &.round-more {
            @apply !rounded-full;
        }
    }

    .v-popper__arrow-outer {
        @apply hidden;
    }

    .v-popper__arrow-inner {
        @apply hidden;
    }
}

.v-popper--theme-menuDark {
    .v-popper__inner {
        @apply !rounded-md !border-neutral-600 !bg-neutral/80 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] backdrop-blur-lg *:text-neutral-content/80;
    }
    .v-popper__arrow-outer {
        @apply !border-neutral/60;
    }
    .v-popper__arrow-inner {
        @apply !border-neutral/20;
    }
}

.v-popper--theme-overlay {
    .v-popper__inner {
        @apply top-0 -ml-5 h-screen w-screen !overflow-clip !rounded-md !border-none !bg-black/25 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] *:text-neutral-content/80;
    }
    .v-popper__arrow-outer {
        @apply !border-transparent;
    }
    .v-popper__arrow-inner {
        @apply !border-transparent;
    }
}

.v-popper--theme-menuLight {
    .tab {
        @apply mt-[1px] h-[32px];
        border-bottom-color: transparent !important;
    }
    .v-popper__inner {
        @apply !rounded-[9px] border !border-t-0 !border-base-300 !bg-base-100/95 p-2 text-base-content !shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] backdrop-blur-md backdrop-brightness-90;
    }
}
.v-popper--theme-tt {
    .v-popper__inner {
        @apply border border-base-300;
    }
}

.v-popper--theme-tt,
.v-popper--theme-tta {
    .v-popper__inner {
        @apply shadow-contrast !bg-neutral/80 text-neutral-content backdrop-blur-md;
    }
}

.v-popper--theme-tt .v-popper__arrow-inner,
.v-popper--theme-tt .v-popper__arrow-outer,
.v-popper--theme-menuLight .v-popper__arrow-inner,
.v-popper--theme-menuLight .v-popper__arrow-outer {
    display: none;
}

.v-popper--theme-menuLight {
    .tab {
        border-bottom-color: transparent;
    }
    .v-popper__inner {
        @apply !rounded-tr-none;
    }
}

.v-popper--shown.search-drop div {
    @apply scale-95 opacity-40;
}
