:root {
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        user-select: none;
        scroll-behavior: smooth;
    }

    html,
    body,
    * {
        font-size: '12px';
        margin: 0;
        padding: 0;
        background: transparent;
    }
    h1,
    h2,
    h3,
    h4 {
        font-weight: 600;
    }

    h5,
    h6 {
        font-weight: 500;
    }
}
