@import 'tailwindcss';

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 58212a1a (update 38 files and delete 54 files)
=======
>>>>>>> 2c930845 (update 38 files and delete 54 files)
=======
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
=======
=======
>>>>>>> 5cbbad1d (update src/client/assets/css/index.css)
=======
>>>>>>> 44bf1088 (update 38 files and delete 54 files)
>>>>>>> 3a4d0ed0 (update 38 files and delete 54 files)
<<<<<<< HEAD:src/assets/css/themes.css
=======
:root {
    --b1: oklch(100% 0 0);
    --b2: oklch(93% 0 0);
    --b3: oklch(76% 0 0);
    --bc: oklch(0% 0.02476 255.701624);
    --neutral: oklch(0% 0.02476 255.701624);
    --nc: oklch(100% 0 0);
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 12d6db59 (update 38 files and delete 54 files):src/client/assets/css/themes.css
=======
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
>>>>>>> fcc65b9c (update 38 files and delete 54 files):src/client/assets/css/themes.css
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 58212a1a (update 38 files and delete 54 files)
=======
>>>>>>> 9bb9b9a6 (update src/client/assets/css/index.css)
=======
>>>>>>> fcc65b9c (update 38 files and delete 54 files):src/client/assets/css/themes.css
>>>>>>> 2c930845 (update 38 files and delete 54 files)
=======
=======
>>>>>>> 621837bd (update 42 files and delete 17 files)
>>>>>>> a59cb6f4 (update 42 files and delete 17 files)
=======
=======
>>>>>>> 621837bd (update 42 files and delete 17 files)
=======
>>>>>>> 44bf1088 (update 38 files and delete 54 files)
<<<<<<< HEAD
>>>>>>> 3a4d0ed0 (update 38 files and delete 54 files)
=======
=======
>>>>>>> c6fb873c (update src/client/assets/css/index.css)
>>>>>>> 5cbbad1d (update src/client/assets/css/index.css)
:is([data-theme='light']) {
    --b1: oklch(100% 0 0);
    --b2: oklch(93% 0 0);
    --b3: oklch(76% 0 0);
    --bc: oklch(0% 0.02476 255.701624);
    --neutral: oklch(0% 0.02476 255.701624);
    --nc: oklch(100% 0 0);
}

:is([data-theme='sunrise']) {
    --b1: oklch(94.5% 0.0053 106.5);
    --b2: oklch(89.95% 0.0109 76.59);
    --b3: oklch(85.05% 0.0177 67.59);
    --bc: ooklch(26.45% 0 0);
    --neutral: oklch(26.45% 0 0);
    --nc: oklch(95.89% 0.001 17.18);
}

:is([data-theme='dusk']) {
    --b1: oklch(30.86% 0.0232 264.15);
    --b2: oklch(28.04% 0.0198 264.18);
    --b3: oklch(26.35% 0.0184 262.18);
    --bc: oklch(84.8707% 0 0);
    --neutral: oklch(24.73% 0.0205 264.09);
    --nc: oklch(84.8707% 0 0);
}

:is([data-theme='midnight']) {
    --b1: oklch(26.45% 0 0);
    --b2: oklch(23.5% 0 0);
    --b3: oklch(0% 0.02476 255.701624);
    --bc: oklch(84.8707% 0 0);
    --neutral: oklch(0% 0.02476 255.701624);
    --nc: oklch(100% 0 0);
}

@theme inline {
    --color-b1: var(--b1);
    --color-b2: var(--b2);
    --color-b3: var(--b2);
    --color-bc: var(--bc);
    --color-neutral: var(--neutral);
    --color-nc: var(--nc);
}
