@import 'tailwindcss';

@theme {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 58212a1a (update 38 files and delete 54 files)
<<<<<<< HEAD:src/assets/css/theme.css
    --spacing: 0.25rem;

=======
    --font-*: initial;

    --font-sans: 'Geist Sans', 'sans-serif';
    --font-serif: 'Noto Serif KR Variable', 'serif';
    --font-mono: 'Victor Mono Variable', 'monospace';

    --text-*: initial;
<<<<<<< HEAD
>>>>>>> 12d6db59 (update 38 files and delete 54 files):src/client/assets/css/theme.css
=======
    --spacing: 0.25rem;

>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
>>>>>>> fcc65b9c (update 38 files and delete 54 files):src/client/assets/css/theme.css
>>>>>>> 58212a1a (update 38 files and delete 54 files)
    --text-1: 0.8rem;
    --text-2: 0.93rem;
    --text-3: 1rem;
    --text-3.5: 1.075rem;
    --text-4: 1.125rem;
    --text-5: 1.25rem;
    --text-6: 1.35rem;
    --text-7: 1.5rem;
    --text-8: 1.675rem;
    --text-9: 2.25rem;
    --text-10: 2.9rem;
    --text-11: 3.75rem;
    --text-12: 4.5rem;
    --text-13: 6rem;
    --text-14: 8rem;

    --b1: oklch(100% 0 0);
    --b2: oklch(93% 0 0);
    --b3: oklch(76% 0 0);
    --bc: oklch(0% 0.02476 255.701624);
    --neutral: oklch(0% 0.02476 255.701624);
    --nc: oklch(100% 0 0);

    --color-precision: oklch(85.49% 0.0892 84.09);
    --color-precision-light: #oklch(90.13% 0.0695 86.13);

    --color-domination: oklch(60.61% 0.1206 15.34);

    --color-domination-light: oklch(81.67% 0.044 12.73);

    --color-sorcery: oklch(69.02% 0.0644 332.52);
    --color-sorcery-light: #oklch(80.99% 0.0273 327.74);

    --color-resolve: oklch(76.83% 0.0749 131.06);
    --color-resolve-light: oklch(85.55% 0.0188 127.18);

    --color-inspiration: oklch(79.03% 0.0317 204.19);
    --color-inspiration-light: oklch(81.95% 0.0306 207.05);

    --color-iron: oklch(44.16% 0.0168 35.72);
    --color-bronze: oklch(57.31% 0.0484 39.76);
    --color-silver: oklch(65.69% 0.022 257.49);
    --color-gold: oklch(85.49% 0.0892 84.09);

    --color-platinum: oklch(69.21% 0.0957 233.45);
    --color-emerald: oklch(56.81% 0.0628 168.43);
    --color-diamond: oklch(55.72% 0.1265 260.79);
    --color-master: oklch(75.18% 0.1157 325.26);
    --color-grandmaster: oklch(68.06% 0.1352 26.61);
    --color-challenger: oklch(83.25% 0.0787 213.4);

    --color-neon-pink: oklch(75.18% 0.152 352.36);

    --color-empty: #bab9b1;
    --color-empty-light: #cecdc8;

    --color-light-1: oklch(100% 0 0);
    --color-light-2: oklch(93% 0 0);
    --color-light-3: oklch(86% 0 0);

    --color-dark-1: oklch(47.84% 0 0);
    --color-dark-2: oklch(36% 0 0);
    --color-dark-3: oklch(0% 0.02476 255.701624);

    --color-error: oklch(59.33% 0.1319 21.78);

    --color-support: #99c4c8;
    --color-bottom: #ebcb8b;
    --color-mid: #be86b5;
    --color-jungle: #a3be8c;
    --color-top: #e0746b;

    --color-current: currentColor;

    --radius-xl: initial;
    --radius-xl: 0.7rem;

    --shadow-pretty: 0 3px 10px rgba(0, 0, 0, 0.2);
    --shadow-lil: 2px 2px 4px 1px rgba(0, 0, 0, 0, 0.3);
    --shadow-warm: 0px 2px 5px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    --shadow-standard: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
        0px 1px 0px 0px rgba(25, 28, 33, 0.02),
        0px 0px 0px 1px rgba(25, 28, 33, 0.08);
    --shadow-cham: inset 12px 8px 40px #46464620;
    --shadow-inset: inset 1px 2px 8px 2px #00000019,
        inset -2px -1px 5px 1px #00000019;
    --shadow-inset-sm: inset 1px 2px 1px 1px #00000004,
        inset -1px -1px 2px 1px #00000009;
    --shadow-smooth: 0px 0px 16px rgba(17, 17, 26, 0.08);

    --drop-shadow-soft: 0px 0px 1px #00000060;
    --drop-shadow-softer: 0px 0px 1px #00000040;
    --drop-shadow-softest: 0px 0px 1px #00000020;

    --animate-accordion-down: accordion-down 0.2s ease-in-out;
    --animate-accordion-up: accordion-up 0.2s ease-in-out;
    --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
    --animate-collapsible-up: collapsible-up 0.2s ease-in-out;

    @keyframes {
        accordion-down {
            from {
                height: 0;
            }
            ,
            to {
                height: 'var(--radix-accordion-content-height)';
            }
        }
        ,
        accordion-up {
            from {
                height: 'var(--radix-accordion-content-height)';
            }
            ,
            to {
                height: 0;
            }
        }
    }
    @keyframes {
        collapsible-down {
            from {
                height: 0;
            }
            ,
            to {
                height: 'var(--radix-collapsible-content-height)';
            }
        }
        ,
        collapsible-up {
            from {
                height: 'var(--radix-collapsible-content-height)';
            }
            ,
            to {
                height: 0;
            }
        }
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 58212a1a (update 38 files and delete 54 files)
<<<<<<< HEAD:src/assets/css/theme.css
=======
    --tab-bg: oklch(var(--b1) / 90%) !important;
    --tab-corner-bg: oklch(var(--b1) / 60%) !important;
    --tab-border: 1px !important;
    --tab-border-color: var(--b3);
    --tab-radius: 0.45rem !important;
    --tab-border-colors: transparent transparent var(--tab-border-color)
        transparent;
    --spacing-tab-border: 1px;
    --tglbg: oklch(var(--b1) / 95%);
<<<<<<< HEAD
>>>>>>> 12d6db59 (update 38 files and delete 54 files):src/client/assets/css/theme.css
=======
>>>>>>> 83f9266d (update 42 files and delete 17 files)
=======
>>>>>>> fcc65b9c (update 38 files and delete 54 files):src/client/assets/css/theme.css
>>>>>>> 58212a1a (update 38 files and delete 54 files)
}
