@plugin "daisyui/theme" {
  name: 'my-theme';
  default: true;
  styled: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: var(--b1);
  --color-base-200: var(--b2);
  --color-base-300: var(--b3);
  --color-base-content: var(--bc);

  --color-primary: var(--neutral);
  --color-primary-content: var(--nc);

  --color-secondary: var(--neutral);
  --color-secondary-content: var(--nc);

  --color-accent: var(--color-inspiration);
  --color-accent-content: var(--color-inspiration-light);

  --color-neutral: var(--neutral);
  --color-neutral-content: var(--nc);

  --color-info: var(--color-sorcery);
  --color-info-content: var(--color-sorcery-light);

  --color-success: var(--color-resolve);
  --color-success-content: var(--color-resolve-light);

  --color-warning: var(--color-precision);
  --color-warning-content: var(--color-precision-light);

  --color-error: var(--color-domination);
  --color-error-content: var(--color-domination-light);

  --radius-badge: 0.5rem;
  --radius-btn: 0.5rem;
  --radius-box: 0.5rem;
  --spacing-button-border: 1px;
  --spacing-tab-border: 1px;
}
