.badge {
  @layer ui.l1.l2.l3 {
    @apply inline-flex items-center justify-center gap-2 rounded-selector align-middle;
    color: var(--badge-fg);
    border: var(--border) solid var(--badge-color, var(--ui-p2));
    font-size: 0.875rem;
    width: fit-content;
    background-size: auto, calc(var(--noise) * 100%);
    background-image: none, var(--fx-noise);
    background-color: var(--badge-bg);
    --badge-bg: var(--badge-color, var(--ui-p0));
    --badge-fg: var(--ui-pc);
    --size: calc(var(--size-selector, 0.25rem) * 6);
    height: var(--size);
    padding-inline: calc(var(--size) / 2 - var(--border));
  }
}

.badge-outline {
  @layer ui.l1.l2 {
    color: var(--badge-color);
    --badge-bg: #0000;
    background-image: none;
    border-color: currentColor;
  }
}

.badge-dash {
  @layer ui.l1.l2 {
    color: var(--badge-color);
    --badge-bg: #0000;
    background-image: none;
    border-color: currentColor;
    border-style: dashed;
  }
}

.badge-soft {
  @layer ui.l1.l2 {
    color: var(--badge-color, var(--ui-pc));
    background-color: color-mix(
      in oklab,
      var(--badge-color, var(--ui-pc)) 8%,
      var(--ui-p0)
    );
    border-color: color-mix(
      in oklab,
      var(--badge-color, var(--ui-pc)) 10%,
      var(--ui-p0)
    );
    background-image: none;
  }
}

.badge-primary {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-n0);
    --badge-fg: var(--ui-pc);
  }
}

.badge-secondary {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-p1);
    --badge-fg: var(--ui-pc);
  }
}

.badge-accent {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-p3);
    --badge-fg: var(--ui-pc);
  }
}

.badge-neutral {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-n0);
    --badge-fg: var(--ui-nc);
  }
}

.badge-info {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-sorc);
    --badge-fg: var(--ui-sorc-content);
  }
}

.badge-success {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-res);
    --badge-fg: var(--ui-res-content);
  }
}

.badge-warning {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-pre);
    --badge-fg: var(--ui-pre-content);
  }
}

.badge-error {
  @layer ui.l1.l2 {
    --badge-color: var(--ui-dom);
    --badge-fg: var(--ui-dom-content);
  }
}

.badge-ghost {
  @layer ui.l1.l2 {
    @apply border-base-200 bg-base-200 text-base-content;
    background-image: none;
  }
}

.badge-xs {
  @layer ui.l1.l2 {
    --size: calc(var(--size-selector, 0.25rem) * 4);
    font-size: 0.625rem;
  }
}

.badge-sm {
  @layer ui.l1.l2 {
    --size: calc(var(--size-selector, 0.25rem) * 5);
    font-size: 0.75rem;
  }
}

.badge-md {
  @layer ui.l1.l2 {
    --size: calc(var(--size-selector, 0.25rem) * 6);
    font-size: 0.875rem;
  }
}

.badge-lg {
  @layer ui.l1.l2 {
    --size: calc(var(--size-selector, 0.25rem) * 7);
    font-size: 1rem;
  }
}

.badge-xl {
  @layer ui.l1.l2 {
    --size: calc(var(--size-selector, 0.25rem) * 8);
    font-size: 1.125rem;
  }
}
