.checkbox {
  @layer ui.l1.l2.l3 {
    border: var(--border) solid
      var(--input-color, color-mix(in oklab, var(--ui-pc) 20%, #0000));
    @apply relative inline-block shrink-0 cursor-pointer appearance-none rounded-selector p-1 align-middle text-base-content;
    box-shadow:
      0 1px oklch(0% 0 0 / calc(var(--depth) * 0.1)) inset,
      0 0 #0000 inset,
      0 0 #0000;
    transition:
      background-color 0.2s,
      box-shadow 0.2s;
    --size: calc(var(--size-selector, 0.25rem) * 6);
    width: var(--size);
    height: var(--size);
    background-size: auto, calc(var(--noise) * 100%);
    background-image: none, var(--fx-noise);
    &:before {
      --tw-content: "";
      content: var(--tw-content);
      @apply block size-full rotate-45 bg-current opacity-0;
      transition:
        clip-path 0.3s,
        opacity 0.1s,
        rotate 0.3s,
        translate 0.3s;
      transition-delay: 0.1s;
      clip-path: polygon(
        20% 100%,
        20% 80%,
        50% 80%,
        50% 80%,
        70% 80%,
        70% 100%
      );
      box-shadow: 0px 3px 0 0px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset;
      font-size: 1rem;
      line-height: 0.75;
    }

    &:focus-visible {
      outline: 2px solid var(--input-color, currentColor);
      outline-offset: 2px;
    }

    &:checked,
    &[aria-checked="true"] {
      background-color: var(--input-color, #0000);
      box-shadow:
        0 0 #0000 inset,
        0 8px 0 -4px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset,
        0 1px oklch(0% 0 0 / calc(var(--depth) * 0.1));

      &:before {
        clip-path: polygon(
          20% 100%,
          20% 80%,
          50% 80%,
          50% 0%,
          70% 0%,
          70% 100%
        );
        @apply opacity-100;
      }
      @media (forced-colors: active) {
        &:before {
          @apply rotate-0 bg-transparent [--tw-content:"✔︎"] [clip-path:none];
        }
      }
      @media print {
        &:before {
          @apply rotate-0 bg-transparent;
          --tw-content: "✔︎";
          clip-path: none;
        }
      }
    }

    &:indeterminate {
      background-color: var(
        --input-color,
        color-mix(in oklab, var(--ui-pc) 20%, #0000)
      );
      &:before {
        @apply rotate-0 opacity-100;
        translate: 0 -35%;
        clip-path: polygon(
          20% 100%,
          20% 80%,
          50% 80%,
          50% 80%,
          80% 80%,
          80% 100%
        );
      }
    }
  }
}

.checkbox-primary {
  @layer ui.l1.l2 {
    @apply text-primary-content;
    --input-color: var(--ui-n0);
  }
}

.checkbox-secondary {
  @layer ui.l1.l2 {
    @apply textui-pc;
    --input-color: var(--ui-p1);
  }
}

.checkbox-accent {
  @layer ui.l1.l2 {
    @apply text-accent-content;
    --input-color: var(--ui-p3);
  }
}

.checkbox-neutral {
  @layer ui.l1.l2 {
    @apply text-nc;
    --input-color: var(--ui-n0);
  }
}

.checkbox-info {
  @layer ui.l1.l2 {
    @apply text-info-content;
    --input-color: var(--ui-sorc);
  }
}

.checkbox-success {
  @layer ui.l1.l2 {
    @apply text-success-content;
    --input-color: var(--ui-res);
  }
}

.checkbox-warning {
  @layer ui.l1.l2 {
    @apply text-warning-content;
    --input-color: var(--ui-pre);
  }
}

.checkbox-error {
  @layer ui.l1.l2 {
    @apply text-error-content;
    --input-color: var(--ui-dom);
  }
}

.checkbox:disabled {
  @layer ui.l1.l2 {
    @apply cursor-not-allowed opacity-20;
  }
}

.checkbox-xs {
  @layer ui.l1.l2 {
    @apply p-0.5;
    --size: calc(var(--size-selector, 0.25rem) * 4);
  }
}

.checkbox-sm {
  @layer ui.l1.l2 {
    @apply p-0.75;
    --size: calc(var(--size-selector, 0.25rem) * 5);
  }
}

.checkbox-md {
  @layer ui.l1.l2 {
    @apply p-1;
    --size: calc(var(--size-selector, 0.25rem) * 6);
  }
}

.checkbox-lg {
  @layer ui.l1.l2 {
    @apply p-1.25;
    --size: calc(var(--size-selector, 0.25rem) * 7);
  }
}

.checkbox-xl {
  @layer ui.l1.l2 {
    @apply p-1.5;
    --size: calc(var(--size-selector, 0.25rem) * 8);
  }
}
