@import 'tailwindcss';

.animate-title {
  animation-name:translate-x;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animate-forward {
  animation-direction: forwards;
  animation-play-state: running !important;
}

.animate-reverse {
  animation-direction: reverse;
  animation-play-state: running !important;
}

.animate-pause {
  animation-play-state: paused;
}

@keyframes translate-x {
  from {
    transform: translateX(0%);
    transform-origin: center;
  }
  to {
    transform: translateX(60%);
    transform-origin: center;
  }
}