@import 'tailwindcss';

.animate-title {
  animation-name:translate-x;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: 0;
  animation-timing-function: linear;
}

.animate-forward {
  animation-direction: forwards;
  animation-play-state: ;
}

.animate-reverse {
  animation-direction: reverse;
}

@keyframes translate-x {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(60%);
  }
}