@import 'tailwindcss';
@import './theme.css';



[data-tag='Support'] {
  background: var(--inspiration-light);
}

[data-tag='Mage'] {
  background-color: var(--sorcery) !important;
}

[data-tag='Marksman'] {
  background: var(--precision-light);
}

[data-tag='Assassin'] {
  background: var(--domination-light);
}

[data-tag='Tank'] {
  background: var(--resolve-light);
}

[data-tag='Fighter'] {
  background: var(--orange-600) / 60;
}



@layer components {
  .dropdown-trigger-button {
    @apply btn border border-transparent btn-ghost btn-lg h-11 rounded-lg hover:bg-b1 hover:btn-outline flex-nowrap  px-0.5 flex items-center hover:border-b2  mb-0.5 w-full;
  }

  .glass-button {
    @apply bg-b2/40 hover:bg-b2/95 shadow-sm  shadow-b2/20  font-normal    !text-3 border border-b2;
  }

  .color-chip {
    @apply flex aspect-square size-9 items-center justify-center rounded-md shadow-sm;
  }

  .nav-menu-size {
    @apply min-w-190 w-190 max-w-190 max-h-120 min-h-120 h-120 border-x border-b border-b2 !border-t-b2/60 border-t  *:rounded-xl;
  }
}

.hover-tabs {
  @apply btn btn-ghost !text-2 font-normal gap-3  hover:bg-b1 btn-md px-3 rounded-md hover:shadow-black/1 border hover:border-b3;
  --depth:0;
}

.active-hover-tabs {
  @apply  bg-b1 shadow-black/1 border border-b3;
  --depth:0;
}

  .gradient {
  background: linear-gradient(
    137deg,
    rgba(231, 207, 120, 0.7) 0%,
    rgba(220, 124, 124, 0.7) 20%,
    rgba(178, 164, 221, 0.7) 40%,
    rgba(175, 212, 150, 0.7) 60%,
    rgba(165, 226, 229, 0.7) 80%
  );
  background-size: 550%;
}

.empty {
  background: linear-gradient(
    137deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(193, 193, 193, 0.8) 10%,
    rgba(233, 233, 233, 1) 75%,
    rgba(252, 252, 252, 0) 90%
  );
}

.none,
.precision,
.domination,
.sorcery,
.resolve,
.inspiration {
  transition: all 0.5s ease-in-out;
}

.precision {
  background-position: 0%;
}

.domination {
  background-position: 20%;
}

.sorcery {
  background-position: 42%;
}

.resolve {
  background-position: 83%;
}

.inspiration {
  background-position: 100%;
}





