@import 'tailwindcss';
@import './abbreviations.css';
@import './default-theme.css';

@layer components {
  
  
.mask-clip-bottom {
  mask-image: linear-gradient(to top, black 58%, transparent 59%);
}
  .color-chip {
    @apply aspect-square size-9 flex items-center justify-center rounded-md
    shadow-sm;
  }
}

.ring-check {
  @apply  has-checked:ring has-checked:ring-neutral has-checked:ring-offset-2 has-checked:ring-offset-b1  hover:ring hover:ring-neutral hover:ring-offset-2 hover:ring-offset-b1 transition-all duration-150;
}

.router-link-exact-active {
  .sb-link {
    @apply bg-b2/90 hover:bg-b2 hover:text-bc;
  }
}


  .btn-neutral {
    @apply !shadow-xs;
    background-color: var(--color-neutral);
    color: var(--color-nc);
    &:hover {
      color: var(--color-nc);
    }

.divider {
  @apply h-px text-2 font-semibold opacity-50;
}



.popover-arrow-down {
clip-path: inset(0 0 15% 0);

}

.popover-arrow-up {
  clip-path: inset(58% 0 0 0);

}
  }

