@import 'tailwindcss';

@theme {
  --b1: oklch(100% 0 0);
  --b2: oklch(95.12% 0 0);
  --b3: oklch(89% 0 0);
  --bc: oklch(0% 0.02476 255.701624);
  --neutral: oklch(0% 0.02476 255.701624);
  --nc: oklch(100% 0 0);
  
  --default-font-family: 'Geist Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif 'sans-serif';
  
  --radius-xl: initial;
  --radius-xl: 0.7rem;
  --radius-lg-2: 0.62rem;
  --radius-tiny: 4px;
  
  --shadow-pretty: 0 3px 10px rgba(0, 0, 0, 0.2);
  
  --shadow-warm: rgba(0, 0, 0, 0.08) 0px 2px 7px;
  
  --shadow-warm-2: rgba(0, 0, 0, 0.10) 0px 2px 8px;
  
  --shadow-warm-soft: rgba(0, 0, 0, 0.03) 0px 2px 5px;
  
  --shadow-standard: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  
  --shadow-cham: inset 12px 8px 40px #46464620;
  
  --shadow-smooth: 0px 1px 10px rgba(17, 17, 26, 0.075);
  
  --shadow-pop: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  
  --shadow-subtle:  rgba(0, 0, 0, 0.08) 0px 4px 12px;
  
  --shadow-outline:  rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  
  --shadow-outline-2: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  
  --shadow-outline-3: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  
  --shadow-outline-4: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  
  --shadow-flat:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
  --shadow-popover: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
  
  --shadow-menu: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  
  --shadow-mask: 0px 3px 20px 30px #00000024;
  
  --inset-shadow-rounded: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
  
  --shadow-rounded: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
  --inset-shadow-mask: inset 0px 0px 20px 16px #00000024;
  
  --drop-shadow-text: 1px 0px 0px #00000020;
  
  --dst: var(--drop-shadow-text);
}
