@import 'tailwindcss';

@import './default-theme.css' (reference);

@utility mask-left {
  mask-image: linear-gradient(to right, black 50%, transparent);
}

@utility mask-right {
  mask-image: linear-gradient(to left, black 50%, transparent);
}

@utility mask-top {
  mask-image: linear-gradient(to top, black 50%, transparent);
}

@utility mask-bottom {
  mask-image: linear-gradient(to bottom, black 50%, transparent);
}




@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

