@import "tailwindcss";
@import "@nuxt/ui";
@import "./themes.css";

@theme inline {
  --color-p0: var(--p0);
  --color-p1: var(--p1);
  --color-p2: var(--p2);
  --color-p3: var(--p3);
  --color-p4: var(--p4);
  --color-p5: var(--p5);
  --color-pc: var(--pc);

  --color-n5: var(--n5);
  --color-n4: var(--n4);
  --color-n3: var(--n3);
  --color-n2: var(--n2);
  --color-n1: var(--n1);

  --color-n0: var(--n0);
  --color-neutral: var(--neutral);
  --color-nc: var(--nc);

  --ui-bg: var(--p0);
  --ui-bg-p1: var(--p1);
  --ui-bg-elevated: var(--p2);
  --ui-bg-accented: var(--p3);
  --ui-bg-inverted: var(--n0);

  --ui-text: var(--n0);
  --ui-text-highlighted: var(--n0);
  --ui-text-inverted: var(--p0);
  --ui-text-p1: var(--n5);
  --ui-text-dimmed: var(--n3);
  --ui-text-toned: var(--n2);
  --ui-text-accented: var(--n1);

  --ui-border: var(--p3);
  --ui-border-p1: var(--p2);
  --ui-border-accented: var(--p4);
  --ui-border-inverted: var(--n1);

  --color-secondary: var(--p2);

  --color-legendary: var(--legendary);
  --color-info: var(--sorc);
  --color-success: var(--resolve);
  --color-warning: var(--pre);
  --color-error: var(--dom);

  --color-precision: var(--pre);
  --color-domination: var(--dom);
  --color-sorcery: var(--sorc);
  --color-resolve: var(--resolve);
  --color-inspiration: var(--insp);

  --color-pre: var(--pre);
  --color-dom: var(--dom);
  --color-sorc: var(--sorc);
  --color-res: var(--resolve);
  --color-insp: var(--insp);

  --color-base-100: var(--p0);
  --color-base-200: var(--p2);
  --color-base-300: var(--p3);
  --color-base-content: var(--pc);
  --color-primary: var(--n0);
  --color-primary-content: var(--nc);
  --color-secondary: var(--p2);
  --color-secondary-content: var(--pc);

  --color-accent: var(--insp);
  --color-accent-content: var(--insp-content);

  --insp-content: var(--inspiration-50);
  --res-content: var(--resolve-50);
  --sorc-content: var(--sorcery-50);
  --dom-content: var(--domination-50);
  --pre-content: var(--precision-50);

  --insp-offset: var(--inspiration-700);
  --res-offset: var(--resolve-700);
  --sorc-offset: var(--sorcery-700);
  --dom-offset: var(--domination-700);
  --pre-offset: var(--precision-800);

  --color-info-content: var(--sorc-content);
  --color-success-content: vvar(--res-content);
  --color-warning-content: var(--pre-content);
  --color-error-content: var(--dom-content);
}

:root {
  --ui-radius: 0.25rem;
  --ui-header-height: 45px;
  --ui-container: 1280px;
  --ui-aside: var(--spacing) * 110;

  --color-p0: var(--p0);
  --color-p1: var(--p1);
  --color-p2: var(--p2);
  --color-p3: var(--p3);
  --color-p4: var(--p4);
  --color-p5: var(--p5);
  --color-pc: var(--pc);

  --color-n5: var(--n5);
  --color-n4: var(--n4);
  --color-n3: var(--n3);
  --color-n2: var(--n2);
  --color-n1: var(--n1);
  --color-n0: var(--n0);
  --color-neutral: var(--neutral);
  --color-nc: var(--nc);

  --input-color: var(--p3);

  --ui-bg: var(--p0);
  --ui-bg-p1: var(--p1);
  --ui-bg-elevated: var(--p2);
  --ui-bg-accented: var(--p3);
  --ui-bg-inverted: var(--n0);

  --ui-text: var(--n0);
  --ui-text-highlighted: var(--n0);
  --ui-text-inverted: var(--p0);
  --ui-text-p1: var(--n5);
  --ui-text-dimmed: var(--n3);
  --ui-text-toned: var(--n2);
  --ui-text-accented: var(--n1);

  --ui-border: var(--p3);
  --ui-border-p1: var(--p2);
  --ui-border-accented: var(--p4);
  --ui-border-inverted: var(--n1);

  --color-secondary: var(--p2);

  --color-legendary: var(--legendary);
  --color-info: var(--sorc);
  --color-success: var(--resolve);
  --color-warning: var(--pre);
  --color-error: var(--dom);

  --color-precision: var(--pre);
  --color-domination: var(--dom);
  --color-sorcery: var(--sorc);
  --color-resolve: var(--resolve);
  --color-inspiration: var(--insp);

  --color-pre: var(--pre);
  --color-dom: var(--dom);
  --color-sorc: var(--sorc);
  --color-res: var(--resolve);
  --color-insp: var(--insp);

  --color-insp-content: var(--insp-content);
  --color-res-content: var(--res-content);
  --color-dom-content: var(--dom-content);
  --color-sorc-content: var(--sorc-content);
  --color-pre-content: var(--pre-content);

  --color-insp-offset: var(--insp-offset);
  --color-res-offset: var(--res-offset);
  --color-dom-offset: var(--dom-offset);
  --color-sorc-offset: var(--sorc-offset);
  --color-pre-offset: var(--pre-offset);
}
