@import "tailwindcss";
@import "@nuxt/ui";
@import "./palette.css";

.light {
  --p0: var(--primary-0);
  --p1: var(--primary-50);
  --p2: var(--primary-100);
  --p3: var(--primary-200);
  --p4: var(--primary-300);
  --p5: var(--primary-350);
  --bc: var(--primary-950);

  --n5: var(--primary-500);
  --n4: var(--primary-600);
  --n3: var(--primary-700);
  --n2: var(--primary-800);
  --n1: var(--primary-900);
  --n0: var(--primary-950);
  --neutral: var(--primary-950);
  --nc: var(--primary-300);

  --insp: var(--inspiration-400);
  --res: var(--resolve-400);
  --sorc: var(--sorcery-400);
  --dom: var(--domination-400);
  --pre: var(--precision-400);
}

.nord {
  --p0: var(--nord-900);
  --p2: var(--nord-800);
  --p2: var(--nord-700);
  --p3: var(--nord-600);
  --p4: var(--nord-500);
  --p5: var(--nord-400);
  --pc: var(--nord-100);

  --n5: var(--nord-400);
  --n4: var(--nord-300);
  --n3: var(--nord-200);
  --n2: var(--nord-100);
  --n1: var(--nord-50);
  --n0: var(--nord-0);
  --neutral: var(--dim-950);
  --nc: oklch(0.257 0.016 252.41);
}

.dark {
  --p0: var(--primary-900);
  --p2: var(--primary-800);
  --p3: var(--primary-700);
  --p3: var(--primary-600);
  --p4: var(--primary-500);
  --p5: var(--primary-475);
  --pc: var(--primary-300);

  --n5: var(--primary-450);
  --n4: var(--primary-425);
  --n3: var(--primary-400);
  --n2: var(--primary-350);
  --n1: var(--primary-300);
  --n0: var(--primary-200);
  --neutral: var(--primary-100);
  --nc: var(--primary-950);
}

.dark,
.dim {
  --insp: var(--inspiration-500);
  --res: var(--resolve-500);
  --sorc: var(--sorcery-500);
  --dom: var(--domination-500);
  --pre: var(--precision-500);
  --legendary: var(--precision-400);
}
