

@layer utilities {
  .filter-grayscale {
    @apply opacity-80 brightness-120 contrast-110 grayscale;
  }
  .top-banner-toast-viewport [data-slot="base"][data-expanded="true"] {
    --translate: calc(var(--offset) * 1px - var(--before) * 16px) !important;
  }

  .anchor {
    @apply relative grid! aspect-square place-items-center gap-0! p-0! *:absolute;
  }

  .focus-ring {
    @apply relative before:absolute;
    &::before {
      @apply inset-0 top-0 left-0 size-[calc(100%+6px)] shrink-0 translate-[-3px] self-center rounded-[inherit] border border-current/60 drop-shadow-2xs transition-all duration-200;
    }
    &[role="switch"] {
      &::before {
        @apply size-[calc(100%+10px)] translate-[-5px];
      }
    }
  }

  .w-inherit {
    width: inherit;
  }

  .h-inherit {
    height: inherit;
  }

  .min-w-inherit {
    min-width: inherit;
  }

  .min-h-inherit {
    min-height: inherit;
  }

  .grid-rows-masonry {
    grid-template-rows: masonry;
  }

  .grid-cols-masonry {
    grid-template-columns: masonry;
  }

  .noise-none {
    --noise: 0;
  }
}
