@import "tailwindcss";
@import "../colors.css";
@import "../theme.css";

/* button */

/*  btn */

@utility btn {
  --noise: 1;
  @apply font-normal px-3 text-3 gap-3 items-center bg-transparent;
}

@utility fx-0 {
  --noise: 0;
  --depth: 0;
}


@utility fx-1 {
  --noise: 1;
  --depth: 1;
}

@utility noise-sm {
  --fx-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.34' numOctaves='4' stitchTiles='stitch'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.1'%3E%3C/rect%3E%3C/svg%3E");
}

@utility btn-neutral {
  @apply text-nc bg-n1   *:text-nc  hover:text-nc shadow-sm drop-shadow-sm border-n1 hover:bg-n1/85 items-center [&_svg]:inline-flex align-middle px-3 font-normal text-3 **:text-nc/90 hover:**:text-nc;
  &:hover {
    @apply !bg-n1/80 text-nc **:text-nc;
  }
  &:disabled {
    @apply !bg-n1/60 !border-n1/50 opacity-80;
  }
}

@utility btn-outline {
  @apply border-b3;
}

@utility badge-default {
  @apply bg-b1/94 backdrop-blur-sm border-b4/70  text-bc;
}

@utility btn-ghost {
  @apply text-3 font-normal gap-3 px-3;
  &:hover {
    @apply border-b3/60 bg-b2/80;
  }
  &.btn-active {
    @apply bg-b2/60 border-b3/60;
  }
}

@utility btn-ghost-outline {
  background-image: url(--btn-depth), url(--btn-noise);
  @apply cursor-pointer !bg-transparent  hover:inset-shadow-xxs has-checked:not-hover:shadow-xs has-not-checked:not-hover:shadow-black/8 has-checked:not-hover:drop-shadow-xs   btn-ghost !border !border-b3/60 shadow-sm;

  &:hover {
    @apply !border !border-b4/50;
  }
}

@utility btn-shadow {
  &:where(:not(.btn-shadow-ghost)) {
    @apply shadow-sm shadow-black/5 drop-shadow-black/8 drop-shadow-xs !border-b4/50;
  }
}

@utility btn-shadow-ghost {
  &:hover,
  &[data-state="open"],
  &[data-state="active"] {
    @apply bg-b2/60 shadow-sm shadow-black/5 drop-shadow-black/8 drop-shadow-xs !border-b4/50;
  }
}

@layer components {
  .btn-b2 {
    @apply bg-tint-b3/10;
  }
}

@layer utilities {
  .btn-ghost-dark {
    @apply py-1 cursor-pointer capitalize  text-white/60  text-3 hover:text-white/80  rounded-xl w-full border border-transparent hover:border-black-30/70 hover:drop-shadow-xs hover:shadow-sm hover:bg-black-25/60 hover:backdrop-blur-md  hover:inset-shadow-xs inset-shadow-black-30/30 hover:shadow-black-25/60   hover:drop-shadow-black-35/60;
  }

  .btn-ghost-dark:where(:not(.btn-square)) {
    @apply flex items-center gap-3  px-3;
  }

  .btn-ghost-dark:where(.btn-square) {
    @apply grid place-items-center;
  }
}

/* badge */

@utility badge {
  @apply rounded-lg shadow-standard shadow-black/2 **:text-3 flex gap-2 drop-shadow-text items-center  box-border;
}

@utility badge-n1 {
  @apply text-nc bg-n1;
}

/* collapse */

@utility collapse-input {
  @apply !min-h-0 !py-0 h-11 text-nowrap flex-nowrap items-center justify-start;
}

@utility collapse-title {
  @apply !min-h-0 !py-0 h-11 text-nowrap flex-nowrap items-center justify-start;
}

/* input */

@utility input {
  @apply focus-within:outline-0 focus-within:outline-offset-0    focus-within:ring-n1/50 focus-within:ring-1 w-full ring-offset-b1  inset-shadow-black/4  inset-shadow-xs border-b3 **:text-2 h-10;
  border-image-width: 0 !important;
  --input-color: var(--b3);
}

/* divider */

@utility divider {
  @apply h-px text-2 font-semibold opacity-50;
}

@utility btn-depth {
  --depth: 1;
  --noise: 0.5;
}

@utility collapse-title {
  @apply p-0 w-auto h-auto;
}


/* chat */

@utility chat-header {
  @apply text-1 px-2 !leading-0 translate-y-0.75;
}
@utility chat-footer {
  @apply !text-1 px-2 !leading-0 -translate-y-2.75;
}

@utility chat-bubble {
  @apply bg-b2;
  &::before {
    @apply scale-y-250 scale-x-200  -translate-y-[6.5px] translate-x-1;
  }
}
