@import "tailwindcss";
@import "../theme.css";

@utility dss-* {
  box-shadow: var(--drop-shadow-sm) --value([color]) --modifier(integer);
}
@utility dss {
  @apply drop-shadow-sm;
}
@utility dsm {
  @apply drop-shadow-md;
}

@utility dxs {
  @apply drop-shadow-xs;
}
@utility dst {
  @apply drop-shadow-tiny;
}

@utility scrollbar-hidden {
  scrollbar-color: transparent transparent !important;
  &::-webkit-scrollbar {
    scrollbar-color: transparent transparent !important;
    display: none !important;
  }
}

@utility trim {
  @apply text-clip text-ellipsis whitespace-nowrap;
}

/* @utility animate-gradient-* {
  animation: gradient --value(integer) s ease infinite;
} */
@utility col-span-all {
  column-span: all;
}

@utility w-inherit {
  width: inherit;
}

@utility h-inherit {
  height: inherit;
}

@utility min-w-inherit {
  min-width: inherit;
}

@utility min-h-inherit {
  min-height: inherit;
}

@utility grid-rows-masonry {
  grid-template-rows: masonry;
}

@utility grid-cols-masonry {
  grid-template-columns: masonry;
}

@layer utilities {
  .color-badge-content {
    @apply opacity-96 brightness-40 contrast-110 dst saturate-180;
  }
}
@utility hover-ring {
  @apply cursor-pointer ring ring-transparent ring-offset-transparent transition-all duration-200;

  &:hover,
  &[data-state="open"].data-open-ring {
    @apply ring ring-n1 ring-offset-2 ring-offset-b1/98;
  }
}

.hover-ring-sm {
  @apply cursor-pointer inset-shadow-sm hover:ring hover:shadow-black/40 hover:ring-n1/60 hover:drop-shadow-sm;
}
