@import "tailwindcss";

.glow {
  background: linear-gradient(
    137deg,
    rgba(231, 207, 120, 0.7) 0%,
    rgba(220, 124, 124, 0.7) 20%,
    rgba(178, 164, 221, 0.7) 40%,
    rgba(175, 212, 150, 0.7) 60%,
    rgba(165, 226, 229, 0.7) 80%
  );
  background-size: 1000% 1000%;
  animation: GradientBackground 5s ease infinite;
}

.glow-blue {
  background: linear-gradient(
    137deg,
    var(--color-ah) 0%,
    var(--color-b1) 20%,
    var(--color-challenger) 30%,
    var(--color-resolve) 60%
  );
  background-size: 1000% 1000%;
  animation: GradientBackground 5s ease infinite;
}
