/* Puff In Animation */
.puff-enter-active {
  animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* Puff Out Animation */
.puff-leave-active {
  animation: puff-out-hor 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes puff-in-hor {
  0% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
}

.puff-out-center {
  animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}

.pocket-move-down-enter-active,
.pocket-move-down-leave-active {
  transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.puff-out-center-leave-to,
.puff-out-center-enter-from {
  transform: scale(2);
  opacity: 0;
  filter: blur(4px);
}

.puff-out-center-enter-to,
.puff-out-center-leave-from {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}
