@theme {
  --color-insp-50: oklch(0.973 0.013 202.79);
  --color-insp-100: oklch(0.945 0.025 205.74);
  --color-insp-200: oklch(0.881 0.055 203.39);
  --color-insp-300: oklch(0.831 0.051 202.43);
  --color-insp-400: oklch(0.771 0.048 202.98);
  --color-insp-500: oklch(0.703 0.044 201.78);
  --color-insp-600: oklch(0.625 0.039 202.73);
  --color-insp-700: oklch(0.557 0.035 201.29);
  --color-insp-800: oklch(0.487 0.03 202.31);
  --color-insp-900: oklch(0.411 0.026 203.46);
  --color-insp-950: oklch(0.376 0.023 204.66);

  --color-res-50: oklch(0.972 0.028 131.73);
  --color-res-100: oklch(0.9346 0.0506 130.46);
  --color-res-200: oklch(0.881 0.085 131.13);
  --color-res-300: oklch(0.821 0.081 131.26);
  --color-res-400: oklch(0.768 0.075 131.05);
  --color-res-500: oklch(0.701 0.069 130.82);
  --color-res-600: oklch(0.633 0.061 130.99);
  --color-res-700: oklch(0.556 0.054 131.23);
  --color-res-800: oklch(0.486 0.047 130.89);
  --color-res-900: oklch(0.42 0.042 131.13);
  --color-res-950: oklch(0.385 0.037 130.46);

  --color-sorc-50: oklch(0.958 0.01 325.86);
  --color-sorc-100: oklch(0.924 0.018 328.63);
  --color-sorc-200: oklch(0.848 0.037 327.35);
  --color-sorc-300: oklch(0.774 0.058 327.1);
  --color-sorc-400: oklch(0.696 0.079 327.15);
  --color-sorc-500: oklch(0.631 0.081 327.25);
  --color-sorc-600: oklch(0.57 0.074 327.36);
  --color-sorc-700: oklch(0.508 0.066 327.49);
  --color-sorc-800: oklch(0.447 0.058 327.65);
  --color-sorc-900: oklch(0.377 0.05 327.92);
  --color-sorc-950: oklch(0.351 0.046 328.05);

  --color-dom-50: oklch(0.95 0.01 17.5);
  --color-dom-100: oklch(0.898 0.021 10.33);
  --color-dom-200: oklch(0.798 0.048 13.29);
  --color-dom-300: oklch(0.699 0.082 14.52);
  --color-dom-400: oklch(0.606 0.121 15.35);
  --color-dom-500: oklch(0.557 0.11 15.35);
  --color-dom-600: oklch(0.504 0.101 15.53);
  --color-dom-700: oklch(0.452 0.09 15.55);
  --color-dom-800: oklch(0.405 0.081 14.77);
  --color-dom-900: oklch(0.353 0.069 15.91);
  --color-dom-950: oklch(0.327 0.066 15.74);

  --color-pre-50: oklch(0.974 0.015 70.89);
  --color-pre-100: oklch(0.949 0.032 78.15);
  --color-pre-200: oklch(0.906 0.064 79.29);
  --color-pre-300: oklch(0.856 0.116 83.61);
  --color-pre-400: oklch(0.805 0.113 83.75);
  --color-pre-500: oklch(0.69 0.097 83.54);
  --color-pre-600: oklch(0.579 0.082 84.01);
  --color-pre-700: oklch(0.475 0.067 84.22);
  --color-pre-800: oklch(0.362 0.051 82.42);
  --color-pre-900: oklch(0.25 0.035 82.06);
  --color-pre-950: oklch(0.187 0.027 83.08);
}

:root,
.light,
.light-mode,
[data-theme="light"] {
  --ui-insp: var(--color-insp-400);
  --ui-res: var(--color-res-400);
  --ui-sorc: var(--color-sorc-400);
  --ui-dom: var(--color-dom-400);
  --ui-pre: var(--color-pre-400);

  --ui-insp-content: var(--color-insp-50);
  --ui-res-content: var(--color-res-50);
  --ui-sorc-content: var(--color-sorc-50);
  --ui-dom-content: var(--color-dom-50);
  --ui-pre-content: var(--color-pre-50);

  --ui-insp-offset: var(--color-insp-500);
  --ui-res-offset: var(--color-res-500);
  --ui-sorc-offset: var(--color-sorc-500);
  --ui-dom-offset: var(--color-dom-500);
  --ui-pre-offset: var(--color-pre-600);

  --ui-accent: var(--color-insp);
  --ui-accent-content: var(--color-insp-200);

  --ui-diminuendo: var(--ui-insp);
  --ui-diminuendo-contrast: var(--color-insp-200);

  --ui-flow: var(--color-hsp);
  --ui-flow-contrast: var(--color-enchanter);

  --ui-contaminate: var(--color-res-300);
  --ui-contaminate-contrast: var(--color-hp);

  --ui-whimsy: var(--ui-sorc);
  --ui-whimsy-contrast: var(--color-sorc-300);

  --ui-cask: var(--color-fighter);
  --ui-cask-contrast: var(--color-apen);

  --ui-onslaught: var(--ui-dom);
  --ui-onslaught-contrast: var(--color-dom-300);

  --ui-spark: var(--ui-pre);
  --ui-spark-contrast: var(--color-pre-200);

  --ui-encore: var(--color-onhit);
  --ui-encore-contrast: var(--color-burst);

  --ui-legends: var(--color-warden);
  --ui-legends-contrast: var(--color-pre-300);
}

.dim,
.dim-mode,
.dark,
.dark-mode,
[data-theme="dim"],
[data-theme="dark"] {
  --ui-insp: var(--color-insp-500);
  --ui-res: var(--color-res-500);
  --ui-sorc: var(--color-sorc-500);
  --ui-dom: var(--color-dom-500);
  --ui-pre: var(--color-pre-500);
  --ui-legendary: var(--color-pre-400);

  --ui-accent: var(--color-insp);
  --ui-accent-content: var(--color-insp-200);
}

[data-accent="diminuendo"] {
  --ui-accent: var(--color-diminuendo);
  --ui-accent-content: var(--ui-insp-content);
}

[data-accent="flow"] {
  --ui-accent: var(--color-res);
  --ui-accent-content: var(--ui-insp);
}

[data-accent="contaminate"] {
  --ui-accent: var(--color-res);
  --ui-accent-content: var(--color-hp);
}

[data-accent="whimsy"] {
  --ui-accent: var(--color-ap);
  --ui-accent-content: var(--ui-master);
}

[data-accent="onslaught"] {
  --ui-accent: var(--color-fighter);
  --ui-accent-content: var(--color-apen);
}

[data-accent="spark"] {
  --ui-accent: var(--color-pre);
  --ui-accent-content: var(--ui-pre-200);
}

[data-accent="encore"] {
  --ui-accent: var(--color-onhit);
  --ui-accent-content: var(--color-burst);
}

@theme inline {
  --color-shadow: var(--color-n2);
  --color-shadow-contrast: var(--color-n5);

  --color-diminuendo: var(--ui-insp);
  --color-diminuendo-contrast: var(--color-insp-200);

  --color-flow: var(--color-hsp);
  --color-flow-contrast: var(--color-enchanter);

  --color-contaminate: var(--color-res-300);
  --color-contaminate-contrast: var(--color-hp);

  --color-whimsy: var(--ui-sorc);
  --color-whimsy-contrast: var(--color-sorc-300);

  --color-cask: var(--color-fighter);
  --color-cask-contrast: var(--color-apen);

  --color-onslaught: var(--ui-dom);
  --color-onslaught-contrast: var(--color-dom-300);

  --color-spark: var(--ui-pre);
  --color-spark-contrast: var(--color-pre-200);

  --color-encore: var(--color-onhit);
  --color-encore-contrast: var(--color-burst);

  --color-legends: var(--color-warden);
  --color-legends-contrast: var(--color-pre-300);

  --color-legendary: var(--ui-legendary);

  --color-info: var(--ui-sorc);
  --color-success: var(--ui-res);
  --color-warning: var(--ui-pre);
  --color-error: var(--ui-dom);

  --color-pre: var(--ui-pre);
  --color-dom: var(--ui-dom);
  --color-sorc: var(--ui-sorc);
  --color-res: var(--ui-res);
  --color-insp: var(--ui-insp);

  --color-insp-offset: var(--ui-insp-offset);
  --color-res-offset: var(--ui-res-offset);
  --color-sorc-offset: var(--ui-sorc-offset);
  --color-dom-offset: var(--ui-dom-offset);
  --color-pre-offset: var(--ui-pre-offset);

  --color-accent: var(--ui-accent);
  --color-accent-content: var(--ui-accent-content);

  --color-win: var(--ui-win);
  --color-lp: var(--ui-lp);

  --dom-100: var(--color-dom-100);
  --dom-200: var(--color-dom-200);
  --dom-300: var(--color-dom-300);
  --dom-400: var(--color-dom-400);
  --dom-500: var(--color-dom-500);
  --dom-600: var(--color-dom-600);
  --dom-700: var(--color-dom-700);
  --dom-800: var(--color-dom-800);
  --dom-900: var(--color-dom-900);
  --dom-950: var(--color-dom-950);

  --insp-100: var(--color-insp-100);
  --insp-200: var(--color-insp-200);
  --insp-300: var(--color-insp-300);
  --insp-400: var(--color-insp-400);
  --insp-500: var(--color-insp-500);
  --insp-600: var(--color-insp-600);
  --insp-700: var(--color-insp-700);
  --insp-800: var(--color-insp-800);
  --insp-900: var(--color-insp-900);
  --insp-950: var(--color-insp-950);

  --pre-100: var(--color-pre-100);
  --pre-200: var(--color-pre-200);
  --pre-300: var(--color-pre-300);
  --pre-400: var(--color-pre-400);
  --pre-500: var(--color-pre-500);
  --pre-600: var(--color-pre-600);
  --pre-700: var(--color-pre-700);
  --pre-800: var(--color-pre-800);
  --pre-900: var(--color-pre-900);
  --pre-950: var(--color-pre-950);

  --res-100: var(--color-res-100);
  --res-200: var(--color-res-200);
  --res-300: var(--color-res-300);
  --res-400: var(--color-res-400);
  --res-500: var(--color-res-500);
  --res-600: var(--color-res-600);
  --res-700: var(--color-res-700);
  --res-800: var(--color-res-800);
  --res-900: var(--color-res-900);
  --res-950: var(--color-res-950);

  --sorc-100: var(--color-sorc-100);
  --sorc-200: var(--color-sorc-200);
  --sorc-300: var(--color-sorc-300);
  --sorc-400: var(--color-sorc-400);
  --sorc-500: var(--color-sorc-500);
  --sorc-600: var(--color-sorc-600);
  --sorc-700: var(--color-sorc-700);
  --sorc-800: var(--color-sorc-800);
  --sorc-900: var(--color-sorc-900);
  --sorc-950: var(--color-sorc-950);
}
