@theme {
  --primary-0: oklch(100% 0 68);
  --primary-50: oklch(97% 0 68);
  --primary-100: oklch(95% 0 68);
  --primary-200: oklch(92% 0 68);
  --primary-300: oklch(85% 0 68);
  --primary-350: oklch(78% 0 68);
  --primary-400: oklch(69.367% 0 68);
  --primary-425: oklch(64.256% 0 68);
  --primary-450: oklch(60% 0 68);
  --primary-475: oklch(58% 0 68);
  --primary-500: oklch(54.256% 0 68);
  --primary-600: oklch(43.444% 0 68);
  --primary-700: oklch(36.433% 0 68);
  --primary-750: oklch(30% 0% 68deg);
  --primary-800: oklch(27.022% 0 68);
  --primary-850: oklch(24% 0% 68deg);
  --primary-900: oklch(20.811% 0 68);
  --primary-950: oklch(14.1% 0 68);

  --nord-50: oklch(0.956 0.007 247.87);
  --nord-100: oklch(0.922 0.012 247.94);
  --nord-200: oklch(0.845 0.024 246.07);
  --nord-300: oklch(0.765 0.037 250.93);
  --nord-400: oklch(0.689 0.042 253.11);
  --nord-500: oklch(0.612 0.042 257);
  --nord-600: oklch(0.535 0.039 259.37);
  --nord-700: oklch(0.453 0.037 264.98);
  --nord-800: oklch(0.38 0.027 259.16);
  --nord-900: oklch(0.302 0.019 254.8);
  --nord-950: oklch(0.257 0.016 252.41);
}

:root,
.light,
.light-mode,
[data-theme="light"] {
  --ui-bg: var(--primary-0);
  --ui-bg-muted: var(--primary-50);
  --ui-bg-elevated: var(--primary-100);
  --ui-bg-accented: var(--primary-300);
  --ui-bg-inverted: var(--primary-900);

  --ui-text: var(--primary-900);
  --ui-text-highlighted: var(--primary-950);
  --ui-text-inverted: var(--primary-300);
  --ui-text-muted: var(--primary-500);
  --ui-text-dimmed: var(--primary-600);
  --ui-text-toned: var(--primary-700);
  --ui-text-accented: var(--primary-800);

  --ui-border: var(--primary-200);
  --ui-border-muted: var(--primary-100);
  --ui-border-accented: var(--primary-300);
  --ui-border-inverted: var(--primary-900);

  --ui-base: var(--primary-0);
  --ui-primary: var(--primary-50);
  --ui-secondary: var(--primary-100);
  --ui-tertiary: var(--primary-200);

  --ui-p0: var(--primary-0);
  --ui-p1: var(--primary-50);
  --ui-p2: var(--primary-100);
  --ui-p3: var(--primary-200);
  --ui-p4: var(--primary-300);
  --ui-p5: var(--primary-350);
  --ui-pc: var(--primary-950);

  --ui-n6: var(--primary-475);
  --ui-n5: var(--primary-500);
  --ui-n4: var(--primary-600);
  --ui-n3: var(--primary-700);
  --ui-n2: var(--primary-800);
  --ui-n1: var(--primary-900);
  --ui-n0: var(--primary-950);
  --ui-neutral: var(--primary-950);
  --ui-nc: var(--primary-300);

  --ui-epic: var(--nord-500);
}

.dark,
.dark-mode,
[data-theme="dark"] {
  --ui-bg: var(--primary-900);
  --ui-bg-muted: var(--primary-800);
  --ui-bg-elevated: var(--primary-700);
  --ui-bg-accented: var(--primary-600);
  --ui-bg-inverted: var(--primary-100);

  --ui-text: var(--primary-300);
  --ui-text-highlighted: var(--primary-100);
  --ui-text-inverted: var(--primary-900);
  --ui-text-muted: var(--primary-400);
  --ui-text-dimmed: var(--primary-500);
  --ui-text-toned: var(--primary-600);
  --ui-text-accented: var(--primary-700);

  --ui-border: var(--primary-600);
  --ui-border-muted: var(--primary-700);
  --ui-border-accented: var(--primary-500);
  --ui-border-inverted: var(--primary-300);

  --ui-p0: var(--primary-900);
  --ui-p1: var(--primary-850);
  --ui-p2: var(--primary-800);
  --ui-p3: var(--primary-750);
  --ui-p4: var(--primary-700);
  --ui-p5: var(--primary-475);
  --ui-pc: var(--primary-300);

  --ui-n5: var(--primary-450);
  --ui-n4: var(--primary-425);
  --ui-n3: var(--primary-400);
  --ui-n2: var(--primary-350);
  --ui-n1: var(--primary-300);
  --ui-n0: var(--primary-200);
  --ui-neutral: var(--primary-100);
  --ui-nc: var(--primary-950);
}

.dim,
.dim-mode,
[data-theme="dim"] {
  --ui-bg: var(--nord-900);
  --ui-bg-muted: var(--nord-800);
  --ui-bg-elevated: var(--nord-700);
  --ui-bg-accented: var(--nord-600);
  --ui-bg-inverted: var(--nord-200);

  --ui-text: var(--nord-100);
  --ui-text-highlighted: var(--nord-50);
  --ui-text-inverted: var(--nord-900);
  --ui-text-muted: var(--nord-200);
  --ui-text-dimmed: var(--nord-300);
  --ui-text-toned: var(--nord-400);
  --ui-text-accented: var(--nord-500);

  --ui-border: var(--nord-600);
  --ui-border-muted: var(--nord-700);
  --ui-border-accented: var(--nord-500);
  --ui-border-inverted: var(--nord-200);

  --ui-p0: var(--nord-900);
  --ui-p1: var(--nord-800);
  --ui-p2: var(--nord-700);
  --ui-p3: var(--nord-600);
  --ui-p4: var(--nord-500);
  --ui-p5: var(--nord-400);
  --ui-pc: var(--nord-100);

  --ui-n5: var(--nord-400);
  --ui-n4: var(--nord-300);
  --ui-n3: var(--nord-200);
  --ui-n2: var(--nord-100);
  --ui-n1: var(--nord-50);
  --ui-n0: var(--nord-50);
  --ui-neutral: var(--nord-50);
  --ui-nc: var(--nord-800);
}

@theme inline {
  --color-epic: var(--ui-epic);
  --color-base: var(--ui-base);

  --color-p0: var(--ui-p0);
  --color-p1: var(--ui-p1);
  --color-p2: var(--ui-p2);
  ---p3: var(--ui-p3);
  --color-p4: var(--ui-p4);
  --color-p5: var(--ui-p5);
  --color-pc: var(--ui-pc);

  --color-n5: var(--ui-n5);
  --color-n4: var(--ui-n4);
  --color-n3: var(--ui-n3);
  --color-n2: var(--ui-n2);
  --color-n1: var(--ui-n1);
  --color-n0: var(--ui-n0);
  --color-neutral: var(--ui-neutral);
  --color-nc: var(--ui-nc);
}
