@import "./base.css";
@import "./accent.css";

@plugin "daisyui" {
  themes: false;
  styled: true;
  /* skeleton */
  exclude:
    navbar, link, toast, steps, drawersidebar, typography, hero, fileinput,
    join, glass, breadcrumbs, collapse, countdown, diff, divider, dock, drawer,
    dropdown, modal, list, swap, textrotate, toast, loading, stack, stat,
    toggle, table, kbd, label, mask, navbar, hovergallery, fab, menu, fieldset,
    indicator, mockup, progress, filter, footer, select, radio, avatar, range,
    calendar, card, validator, carousel;
}

@plugin "daisyui/theme" {
  name: "light";
  default: light;
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  --color-base-100: var(--ui-p0);
  --color-base-200: var(--ui-p2);
  --color-base-300: var(--ui-p3);
  --color-base-content: var(--ui-pc);
  --color-primary: var(--ui-n0);
  --color-primary-content: var(--ui-nc);

  --color-secondary: var(--color-p1);
  --color-secondary-content: var(--ui-pc);

  --color-accent: var(--ui-accent);
  --color-accent-content: var(--ui-accent-content);

  --color-neutral: var(--ui-n0);
  --color-neutral-content: var(--ui-nc);

  --color-info: var(--ui-sorc);
  --color-info-content: var(--ui-sorc-content);
  --color-success: var(--ui-res);
  --color-success-content: var(--ui-res-content);
  --color-warning: var(--ui-pre);
  --color-warning-content: var(--ui-pre-content);
  --color-error: var(--ui-dom);
  --color-error-content: var(--ui-dom-content);

  --radius-selector: var(--radius-md);
  --radius-box: var(--radius-xl);
  --radius-field: var(--radius-lg);

  --input-color: var(--ui-p3);

  --color-accent: var(--ui-accent);
  --color-accent-content: var(--ui-accent-content);

  --border: 1px;
  --radius-start: 0.85rem;
  --radius-end: 0.85rem;
  /* effects */
  --depth: 0.4;
  --noise: 0.2;
}

:root {
  --color-secondary: var(--color-p2);
}

@utility tab {
  --tab-paddings: 4px 20px !important;
  --tab-radius-grad:
    #0000 calc(69% - var(--border)),
    var(--tab-inset-color) calc(69% - var(--border) + 0.25px),
    var(--tab-inset-color) 69%, var(--tab-bg) calc(69% + 0.25px);
  &:nth-child(2) {
    --radius-start: none;
  }
  &.tab-active {
    @apply border-x border-t border-b-0 border-(--color-border)!;
  }
}

.tabs-md {
  :root {
  }
}

@utility tabs {
  &.tabs-light {
    --tab-bg: var(--ui-p0);
    --tab-border-color: var(--ui-border) !important;
    --tab-border-colors: var(--ui-border);
    --tab-inset-color: var(--color-p2);
  }
  &.tabs-dark {
    --tab-bg: var(--color-neutral);
    --tab-inset-color: var(--color-n2);
    --tab-border-colors: var(--color-n2);
    --tab-border-color: var(--color-n2) !important;
    &.tab-active {
      @apply border-n2! text-nc! **:text-nc!;
    }
    & [data-state="active"] {
      @apply text-nc! **:text-nc! [&_svg]:text-nc;
    }
    & .tab {
      --tab-bg: var(--color-neutral);
      @apply active:**:text-nc!;
    }
  }
}
/* @utility button-neutral {
  @apply bg-neutral font-semibold text-nc! inset-ring inset-ring-n1 btn-neutral depth-5 **:text-nc! focus-visible:bg-neutral active:bg-neutral active:btn-neutral disabled:bg-n1 disabled:shadow-none on:text-nc on:btn-neutral [&_span]:text-nc! [&_svg]:text-nc!;
} */
@layer utilities {
  .rounded-tablist {
    &::before {
      @apply pointer-events-none absolute inset-x-0 -bottom-12 z-0 h-22 w-full translate-y-9.75 justify-self-center rounded-4xl border-x border-t border-(--ui-border) mask-b-from-31% mask-b-to-30% content-[''];
    }
  }
}
.tabs-lift-list:has(
    > :nth-child(1 of :where([data-slot="trigger"], .tab)):is(
        [data-state="active"],
        .tab-active
      )
  )
  ~ .tabs-lift-content {
  @apply rounded-tl-none!;
}

@utility tabs-md {
  --tabs-height: 30px;
}

@utility tab-content {
  --tabcontent-radius-se: var(--radius-xl);
  --tabcontent-radius-es: var(--radius-xl);
  --tabcontent-radius-ee: var(--radius-xl);
}

@utility fx-0 {
  --noise: 0;
  --depth: 0;
}

@utility fx-1 {
  --noise: 0.2;
  --depth: 0.5;
}
@utility kbd {
  border-color: var(--ui-p4);
}
@layer utilities {
  .btn {
    --size: 0;

    --border: 1px;
    animation-duration: 0;
    transition-duration: 0;
  }
  .btn-active.btn-ghost {
    --btn-bg: var(--ui-p1);
  }
  .btn-active.btn-neutral {
    --btn-bg: var(--ui-n1) !important;
  }
  .btn-neutral {
    @apply bg-neutral;
  }

  /* TABLE */
  .table {
    tr {
      @apply h-12 items-center!;
    }
    th,
    td {
      @apply h-full items-center py-0! text-sm! not-last:text-center last:text-end;
    }
  }

  /* tabs */
  /*   .tab {
    @apply flex items-center gap-2 text-start!;
    &::before {
      @apply opacity-90 mix-blend-plus-lighter;
    }
  } */
  .tabs-box {
    border-radius: var(--radius-lg);
  }
  .tabs-box {
    @apply rounded-lg;
  }

  .tabs-sm {
    .tab {
      @apply h-8.5 pt-0.75;
      --tab-radius-min: 0.64rem;
    }
  }

  .tabs-xl {
    --radius-field: var(--radius-4xl) !important;
    .tab {
      --tab-radius-min: 0.85rem !important;
    }
  }

  /* tooltip */

  .tooltip-light {
    --tt-bg: --alpha(var(--color-p0) / 99%) !important;
    @apply relative;

    &::before {
      @apply border-p3 bg-(--tt-bg) text-pc;
    }

    &::after {
      @apply hidden;
    }
  }
  .tooltip {
    &::before {
      @apply z-50 max-w-66 bg-n1/90 px-3 py-1 text-start text-sm/5.5 text-pretty whitespace-pre-wrap text-nc drop-shadow-sm backdrop-blur-sm transition-all duration-200;
    }
    &::after {
      @apply invisible! hidden! size-0! opacity-0!;
    }
  }

  /* input */

  .input {
    --input-color: var(--color-p3);
  }

  .text-area {
    &:focus-within {
      @apply ring-1 ring-pc/60;
    }
  }
  /* divider */

  .divider {
    @apply h-px text-sm font-semibold opacity-50;
  }

  /* badge */

  .badge {
    @apply box-border flex items-center gap-2 rounded-lg px-2 text-sm shadow-sm shadow-black/2 drop-shadow-xs;
  }

  .badge-neutral {
    @apply bg-neutral text-nc;
  }

  .badge-default {
    @apply border-p3 bg-p0/94 text-pc backdrop-blur-sm;
  }

  /* chkbx */

  .checkbox-neutral {
    @apply border-p3 inset-shadow-none;
  }
  .checkbox-sm {
    @apply rounded-[3.5px];
  }

  .checkbox-xs {
    @apply rounded-[3.5px];
  }

  /* chat */

  /*   .chat-header {
    @apply translate-y-0.75 px-2 text-xs leading-0!;
  }
  .chat-footer {
    @apply -translate-y-2.75 px-2 text-xs! leading-0!;
  }
 */
  .chat-bubble {
    @apply bg-p2;
    &::before {
      @apply -translate-x-px; /*  translate-y-[-6.5px] scale-x-200 scale-y-250; */
    }
  }
}

/*
{
badge,
button,
checkbox,
hover,
input,  reset, btn, badge, properties, status, radius, timeline, tabs,
    radialprogress, button, code, hover3dcard, checkbox, input, svg, properties;
radialprogress,
rating,
status,
tab,
textarea,
timeline,
tooltip,
}*/
