@import 'tailwindcss';

/* Moving Down */
.squish-in-down-enter-active,
.squish-in-down-leave-active {
  transition: transform 1.5s ease-in-out, opacity 0.5s ease-in-out;
}
.squish-in-down-enter-from {
  transform: translateY(100%);
    transform: scaleX(0%);
    filter:drop-shadow(var(--drop-shadow-lg));
  opacity: 0;
}
.squish-in-down-enter-to {
  transform: translateY(0);
  opacity: 1;
  transform: scaleX(100%);
}
.squish-in-down-leave-from {
  transform: translateY(0);
  opacity: 1;
    transform: scaleX(100%);
}
.squish-in-down-leave-to {
  transform: translateY(-100%);
    transform: scaleX(0%);
    filter:drop-shadow(var(--drop-shadow-lg));

  opacity: 0;
}

/* Moving Up */
.squish-in-up-enter-active,
.squish-in-up-leave-active {
  transition: transform 1.5s ease-in-out,
  opacity 0.5s ease-in-out;
}
.squish-in-up-enter-from {
  transform: translateY(-100%);
    transform: scaleX(0%);
    filter:drop-shadow(var(--drop-shadow-lg));

  opacity: 0;
}
.squish-in-up-enter-to {
  transform: translateY(0);
    transform: scaleX(100%);
  opacity: 1;
}
.squish-in-up-leave-from {
  transform: translateY(0);
    transform: scaleX(100%);
  opacity: 1;
}
.squish-in-up-leave-to {
  transform: translateY(100%);
    transform: scaleX(0%);
    filter:drop-shadow(var(--drop-shadow-lg));

  opacity: 0;
}