@import 'tailwindcss';
@import './theme.css';

@utility tabby {
  @apply bg-b1 border-x-b3 border-t-b3 z-20 rounded-t-xl border border-b-0;
}
@layer base {
  .tabby-right:not(last-child):before,
  .tabby-right:not(last-child):after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    mask-image: linear-gradient(to top, red, red), radial-gradient(circle 14px at center, green 80%, transparent 81%);
    mask-size:
      14px 14px,
      100%;
    mask-position:
      bottom left,
      center;
    mask-repeat: no-repeat, repeat;
    mask-composite: subtract;
  }

  .tabby-right:not(last-child):before,
  .tabby-left:not(first-child):before {
    width: 24px;
    height: 24px;
    background-color: var(--b3);
  }

  .tabby-right:not(last-child):after,
  .tabby-left:not(first-child):after {
    width: 23px;
    height: 23px;
    background-color: var(--b1);
  }
}

[data-tag='Support'] {
  background: var(--inspiration-light);
}

[data-tag='Mage'] {
  background-color: var(--sorcery) !important;
}

[data-tag='Marksman'] {
  background: var(--precision-light);
}

[data-tag='Assassin'] {
  background: var(--domination-light);
}

[data-tag='Tank'] {
  background: var(--resolve-light);
}

[data-tag='Fighter'] {
  background: var(--orange-600) / 60;
}

.tab {
  --tab-paddings: 0.65rem 6rem 1rem 2rem;

  --tab-radius-ss: 0.5rem !important;
  --tab-radius-se: 0.5rem !important;

  --tab-radius-min: 0.5rem !important;
  --tab-corner-width: 5px;
  --tab-corner-height: 10px;
  --tab-corner-position: bottom center;
  --tab-inset: bottom center;
  --radius-start: -0.6rem;
  --radius-end: 0.6rem;

  --tab-radius-es: -20px !important;
  --tab-radius-ee: -20px !important;
}

.glass-button {
  @apply bg-b2/40 hover:bg-b2/95 shadow-sm  shadow-b2/20  font-normal    !text-3 border border-b2;
}

.color-chip{
    @apply flex aspect-square size-9 items-center justify-center rounded-md shadow-sm;
}

