@import 'tailwindcss';
@import '@nuxt/ui';


:root {
  --b1: var(--color-primary-0);
  --b2: var(--color-primary-100);
  --b3: var(--color-primary-200);
  --bc: var(--color-bc);
  --primary: var(--color-primary-50);
  --neutral: var(--color-primary-950);
  --nc: var(--color-primary-300);
  --inspiration: var(--color-inspiration-400);
  --resolve: var(--color-resolve-400);
  --sorcery: var(--color-sorcery-400);
  --domination: var(--color-domination-400);
  --precision: var(--color-precision-400);

  .light {
    --b1: var(--color-primary-0);
    --b2: var(--color-primary-100);
    --b3: var(--color-primary-200);
    --bc: var(--color-bc);
    --primary: var(--color-primary-50);
    --neutral: var(--color-primary-950);
    --nc: var(--color-primary-300);
    --inspiration: var(--color-inspiration-400);
    --resolve: var(--color-resolve-400);
    --sorcery: var(--color-sorcery-400);
    --domination: var(--color-domination-400);
    --precision: var(--color-precision-400);
  }

  .dim {
    --b1: var(--color-primary-0);
    --b2: var(--color-primary-100);
    --b3: var(--color-primary-200);
    --bc: var(--color-bc);
    --primary: var(--color-primary-50);
    --neutral: var(--color-primary-950);
    --nc: var(--color-primary-300);
    --inspiration: var(--color-inspiration-300);
    --resolve: var(--color-resolve-400);
    --sorcery: var(--color-sorcery-500);
    --domination: var(--color-domination-500);
    --precision: var(--color-precision-300);
  }

  .dark {
    --b1: var(--color-primary-900);
    --b2: var(--color-primary-800);
    --b3: var(--color-primary-700);
    --bc: v var(--color-primary-300);
    --primary: var(--color-primary-50);
    --neutral: var(--color-primary-900);
    --nc: var(--color-primary-300);
    --inspiration: var(--color-inspiration-300);
    --resolve: var(--color-resolve-400);
    --sorcery: var(--color-sorcery-500);
    --domination: var(--color-domination-500);
    --precision: var(--color-precision-300);
  }
}

@theme inline {
  --color-b1: var(--b1);
  --color-b2: var(--b2);
  --color-b3: var(--b3);
  --color-bc: var(--bc);
  --color-primary: var(--primary);
  --color-neutral: var(--neutral);
  --color-nc: var(--nc);
  --color-precision: var(--precision);
  --color-domination: var(--domination);
  --color-sorcery: var(--sorcery);
  --color-resolve: var(--resolve);
  --color-inspiration: var(--inspiration);
}

@theme {
  --color-primary-0: oklch(100% 0 68);
  --color-primary-50: oklch(98.5% 0 68);
  --color-primary-100: oklch(95% 0 68);
  --color-primary-200: oklch(90.489% 0.00311 67.945);
  --color-primary-300: oklch(85.778% 0.00522 67.911);
  --color-primary-400: oklch(69.367% 0.01433 67.692);
  --color-primary-500: oklch(54.256% 0.01544 67.563);
  --color-primary-600: oklch(43.444% 0.01656 67.411);
  --color-primary-700: oklch(36.433% 0.01267 67.43);
  --color-primary-800: oklch(27.022% 0.00578 67.658);
  --color-primary-900: oklch(20.811% 0.00589 67.51);
  --color-primary-950: oklch(14.1% 0.005 67.448);

  --color-nord-50: oklch(0.956 0.007 247.87);
  --color-nord-100: oklch(0.922 0.012 247.94);
  --color-nord-200: oklch(0.845 0.024 246.07);
  --color-nord-300: oklch(0.765 0.037 250.93);
  --color-nord-400: oklch(0.689 0.042 253.11);
  --color-nord-500: oklch(0.612 0.042 257);
  --color-nord-600: oklch(0.535 0.039 259.37);
  --color-nord-700: oklch(0.453 0.037 264.98);
  --color-nord-800: oklch(0.38 0.027 259.16);
  --color-nord-900: oklch(0.302 0.019 254.8);
  --color-nord-950: oklch(0.257 0.016 252.41);

  --color-inspiration-50: oklch(0.973 0.013 202.79);
  --color-inspiration-100: oklch(0.945 0.025 205.74);
  --color-inspiration-200: oklch(0.881 0.055 203.39);
  --color-inspiration-300: oklch(0.831 0.051 202.43);
  --color-inspiration-400: oklch(0.771 0.048 202.98);
  --color-inspiration-500: oklch(0.703 0.044 201.78);
  --color-inspiration-600: oklch(0.625 0.039 202.73);
  --color-inspiration-700: oklch(0.557 0.035 201.29);
  --color-inspiration-800: oklch(0.487 0.03 202.31);
  --color-inspiration-900: oklch(0.411 0.026 203.46);
  --color-inspiration-950: oklch(0.376 0.023 204.66);

  --color-resolve-50: oklch(0.972 0.028 131.73);
  --color-resolve-100: oklch(0.934 0.073 131.16);
  --color-resolve-200: oklch(0.881 0.085 131.13);
  --color-resolve-300: oklch(0.821 0.081 131.26);
  --color-resolve-400: oklch(0.768 0.075 131.05);
  --color-resolve-500: oklch(0.701 0.069 130.82);
  --color-resolve-600: oklch(0.633 0.061 130.99);
  --color-resolve-700: oklch(0.556 0.054 131.23);
  --color-resolve-800: oklch(0.486 0.047 130.89);
  --color-resolve-900: oklch(0.42 0.042 131.13);
  --color-resolve-950: oklch(0.385 0.037 130.46);

  --color-sorcery-50: oklch(0.958 0.01 325.86);
  --color-sorcery-100: oklch(0.924 0.018 328.63);
  --color-sorcery-200: oklch(0.848 0.037 327.35);
  --color-sorcery-300: oklch(0.774 0.058 327.1);
  --color-sorcery-400: oklch(0.696 0.079 327.15);
  --color-sorcery-500: oklch(0.631 0.081 327.25);
  --color-sorcery-600: oklch(0.57 0.074 327.36);
  --color-sorcery-700: oklch(0.508 0.066 327.49);
  --color-sorcery-800: oklch(0.447 0.058 327.65);
  --color-sorcery-900: oklch(0.377 0.05 327.92);
  --color-sorcery-950: oklch(0.351 0.046 328.05);

  --color-domination-50: oklch(0.95 0.01 17.5);
  --color-domination-100: oklch(0.898 0.021 10.33);
  --color-domination-200: oklch(0.798 0.048 13.29);
  --color-domination-300: oklch(0.699 0.082 14.52);
  --color-domination-400: oklch(0.606 0.121 15.35);
  --color-domination-500: oklch(0.557 0.11 15.35);
  --color-domination-600: oklch(0.504 0.101 15.53);
  --color-domination-700: oklch(0.452 0.09 15.55);
  --color-domination-800: oklch(0.405 0.081 14.77);
  --color-domination-900: oklch(0.353 0.069 15.91);
  --color-domination-950: oklch(0.327 0.066 15.74);

  --color-precision-50: oklch(0.975 0.013 60.6);
  --color-precision-100: oklch(0.959 0.022 67.56);
  --color-precision-200: oklch(0.924 0.042 71.89);
  --color-precision-300: oklch(0.889 0.068 79.11);
  --color-precision-400: oklch(0.855 0.089 84.08);
  --color-precision-500: oklch(0.779 0.097 81.75);
  --color-precision-600: oklch(0.701 0.095 79.66);
  --color-precision-700: oklch(0.624 0.095 76.17);
  --color-precision-800: oklch(0.539 0.091 75.16);
  --color-precision-900: oklch(0.46 0.088 71.86);
  --color-precision-950: oklch(0.428 0.092 71.01);

  --container-700: 700px;

  --default-font-family:
    'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-sans:
    'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: 'Noto Serif KR', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-mono:
    'Geist Mono', SFMono-Regular, ui-monospace, 'Liberation Mono', 'Courier New', Consolas, Menlo, Monaco, monospace;

  --radius-*: initial;
  --radius-xxs: 0.185rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.3rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.7rem;
  --radius-xxl: 0.75rem;
  --radius-lg-1: 0.6rem;
  --radius-lg-2: 0.62rem;

  --radius-selector: 0.4rem;
  --radius-box: 1rem;
  --depth: 1;
  --noise: 1;

  --text-2xs: 0.78rem;
  --text-xxs: 0.82rem;
  --text-xs: 0.89rem;
  --text-sm: 0.94rem;
  --text-md: 0.99rem;
  --text-lg: 1.05rem;
  --text-xl: 1.15rem;
  --text-xxl: 1.3rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.675rem;
  --text-5xl: 1.875rem;
  --text-6xl: 2rem;

  --shadow-pretty: 0 3px 10px rgba(0, 0, 0, 0.2);
  --shadow-warm: rgba(0, 0, 0, 0.08) 0px 2px 7px;
  --shadow-warm-2: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  --shadow-warm-soft: rgba(0, 0, 0, 0.03) 0px 2px 5px;
  --shadow-smooth: 0px 1px 10px rgba(17, 17, 26, 0.075);
  --shadow-flat: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --shadow-mask: 0px 3px 20px 30px #00000024;
  --inset-shadow-mask: inset 0px 0px 20px 16px #00000024;
  --inset-shadow-sides: inset 0 0 2px 2px rgba(0, 0, 0, 0.06);
  --inset-shadow-sm-reverse: inset -1px -1px 25px 0px rgba(0, 0, 0, 0.04);
  --inset-shadow-shade-sm: inset 0 0px 3px 1px rgba(0, 0, 0, 0.04);
  --inset-shadow-sm-x: inset 0 -2px 4px rgb(0 0 0 / 0.05);
  --inset-shadow-xxs: inset 0.5px 0.5px 0px rgb(0 0 0 / 0.05), inset -0.5px -0.5px 0px rgb(0 0 0 / 0.1);

  --drop-shadow-tiny: 1px 0px 0px #00000020;

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(1.05);
    }
  }

  --animate-hue: rainbow 4s steps(36) infinite;
  @keyframes rainbow {
    from {
      filter: hue-rotate(10deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

  --animate-heartbeat: heartbeat 0.6s ease-in-out;

  --ease-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-spring-soft: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-spring-bouncy: cubic-bezier(0.42, 1.8, 0.68, 1);
}
