.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter-from {
  transform: translateX(50%);
}

.slide-fade-leave-to {
  transform: translateX(-100%);
}

.rotate-180-ccw {
  -webkit-animation: rotate-180-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation: rotate-180-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.reverse {
  animation-direction: reverse;
}

@-webkit-keyframes rotate-180-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@keyframes rotate-180-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

.glow {
  border-radius: 100%;
  background: linear-gradient(45deg, oklch(var(--p)), oklch(var(--s)), oklch(var(--a)), oklch(var(--in)), oklch(var(--su)));
  background-size: 1000% 1000%;
  animation: GradientBackground 10s ease infinite;
  /*mask-image: radial-gradient(circle at 0% 1%, rgba(0, 0, 0, 0) 50px, #fff 51px);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;*/
  @apply rounded-full;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
