    * {
    scrollbar-width: 4px;
    }

    *::-webkit-scrollbar {
    width: 0px;
    }

    html, body,
    body:before,
    body:after { 
    @apply m-0 p-0 overflow-hidden w-screen h-screen bg-transparent ;
    }

    body {
    box-shadow: inset 0px 0px 4px 1px rgba(25, 25, 25, 0.3);
    outline: 2px solid #272727bc;
    @apply tracking-[0.01em];
    }

    /*#app::before {
    content:'';
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;

    box-shadow: inset 0px 0px 4px 1px rgba(25, 25, 25, 0.3);
    @apply absolute top-[36px] left-[1px] w-[calc(100%-2px)] h-[calc(100%-36px)] border-background border-opacity-95 border-l-[4px] border-r-[4px] border-b-[5px] border-t-0 border-solid z-10 pointer-events-none ;
    }*/

    #app::after {
    content:'';
    border-style: solid;
    border-radius: 9px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    @apply absolute top-[0px] left-0 h-full w-full border-background/40 border-solid border-[1px] border-t-0 z-10 pointer-events-none /*rounded-tl-[6px] rounded-tr-[6px]*/;
    }



    #app {
    @apply top-0 left-0 m-0 fixed overflow-auto w-screen h-screen bg-base-200 z-0;
    }

    /*.titlebar::after {
  content: '';
  mask-image: linear-gradient(to top, #000, #000),
    radial-gradient(circle 15px at center, #000 80%, transparent 81%);
  mask-repeat: no-repeat;
  mask-composite: subtract;
  outline: 2px solid red;
  @apply absolute z-50 top-20 left-20 size-[30px];

}*/

.titlebar {
    top: 0;
    left: 0;
    @apply h-[36px] w-full backdrop-blur-md bg-background/60 grid grid-cols-3 fixed z-20 p-[0px] items-center shadow-md shadow-foreground/10 border-b-[1px] border-foreground/10;
  
    .title {
      @apply p-0 text-base tracking-wide font-semibold border-none shadow-none h-6 hover:bg-accent absolute left-[10px] top-[6px] z-40 bg-transparent;

      span:nth-child(2) {
        @apply pl-[9px] bg-transparent;
      }
    }
  
  
    .s-box {
      @apply w-full justify-self-center z-0;
  
      .s-form {
  
        @apply text-center justify-items-center rounded-lg z-0;
  
        .s-icon {
          @apply absolute right-3 top-[5px] size-4 z-20 text-foreground;
        }
  
        .in-search {
          border-radius: 10px;
          @apply text-xs font-medium w-full text-center h-[28px] shadow-inner bg-background/60 border-foreground/15 shadow-foreground/10 !outline-0 !outline-transparent !outline-none;
        }
  
        .in-search:focus {
          @apply ring-foreground/20;
        }
      }
    }
  
    .button-wrapper {
      @apply justify-self-end justify-items-end justify-end grid grid-cols-3 gap-2 pr-2;
  
      .titlebar-button {
        @apply inline-flex place-items-center p-1 hover:bg-accent;
  
        .b-window {
          @apply text-accent-foreground cursor-pointer h-4 w-4;
        }
      }
    }
  }
  
  #content {
    top: 0;
    left: 0;
    @apply w-screen h-screen absolute z-auto px-[0px];
  }
  
  #resize-panel-1,
  #resize-panel-2,
  #resize-panel-3 {
    overflow: auto !important;
    @apply py-3 scroll-auto pt-[36px];
  }
  
  #resize-panel-1 {
    @apply mt-[0px] /*backdrop-blur-md bg-background/60*/;
  }

  #resize-handle-1 div {
    @apply border-none bg-transparent ;

    svg {
      @apply size-fit;
    }
  }
  
  .panel-nav {
    @apply bg-base-100 my-3 mx-4 h-auto rounded-box;
  }
  .panel-box {
    @apply grid grid-cols-1 h-full justify-items-end justify-end min-h-60;
  
    .data {
      @apply justify-self-stretch;
    }
  
    .utils {
      @apply self-end h-11 w-full;
    }
  }
  

  [data-pc-section='node'],
  [data-pc-section='nodecontent'],
  [data-pc-section='nodelabel'] {
    @apply  w-full items-center align-middle relative;
  }
  [data-pc-section='node'] {
    @apply my-1;
  }
  [data-pc-section='nodecontent'] {
    @apply h-8 pl-2;
  }

  [data-pc-section='nodetoggleicon'] {
    @apply grid w-full h-full align-top place-self-start place-items-start place-content-start;
  }

  .rotato {
    @apply rotate-90;
  }




  [data-pc-section='nodelabel'] {
    @apply flex h-8;
  }


  [data-pc-section='nodechildren'] [data-pc-section='nodecontent'] {
    @apply pl-5;
  }

  [aria-label='Builds'] [data-pc-section='nodechildren'] {
    [data-pc-section='nodetoggleicon'] {
    @apply -ml-3;
  }

    ul [data-pc-section='nodechildren'] {
      @apply pl-3;
    }
  }

  .add-build {
    @apply flex absolute right-0 -top-1;
 .add-fill {
    @apply inline-flex h-[17px] w-[17px];
  }
  .add-reg{
    @apply hidden h-[17px] w-[17px] ;
  }
}


  .add-build:hover {
    .add-fill {
      @apply hidden;
    }
    .add-reg {
      @apply inline-flex;
    }
  }

  #tree1 [aria-label='Champions'][aria-level='1'],
  #tree1 [aria-label='Items'][aria-level='1'],
  #tree1 [aria-label='Runes'][aria-level='1'],
  #tree1 [aria-label='Settings']  {
    @apply hidden;
  }

#tree2 [aria-label='Home'],
#tree2 [aria-label='Builds'],
#tree2 [aria-label='Favorites'],
#tree2 [aria-label='Settings'],
#tree2 [aria-label='Calculator'] {
  @apply hidden;
}





#tree3 [aria-label='Home'],
#tree3 [aria-label='Builds'],
#tree3 [aria-label='Favorites'],
#tree3 [aria-label='Champions'][aria-level='1'],
#tree3 [aria-label='Items'][aria-level='1'],
#tree3 [aria-label='Runes'][aria-level='1'],
#tree3 [aria-label='Calculator'] {
  @apply hidden;
}
  
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  
  .slide-fade-leave-active {
    transition: all 0.3s ease;
  }
  
  .slide-fade-enter-from {
    transform: translateX(50%);
  }
  
  
  .slide-fade-leave-to {
    transform: translateX(-100%);
  }

