.grid-item,
.grid-image-container,
.grid-image {
  @apply rounded-lg transition-all duration-500;
}

.grid-header {
  @apply w-full left-0 p-4 text-2xl font-bold tracking-tight;

  h2 {
    @apply my-3;
  }
}

.grid-container {
  @apply grid w-full p-4 !overflow-y-auto h-full transition-all duration-500;

  .grid-item {
    @apply size-full z-0 w-full relative ring-[1px] ring-base-300 ring-offset-1 ring-offset-base-content/30 shadow-sm;

    .grid-image-container {
      justify-content: center;
      align-items: center;
      box-shadow:
        2px 2px 2px 0 rgba(0, 0, 0, 0.25),
        -2px -2px 3px 0 rgba(255, 255, 255, 0.3);

      @apply size-full flex overflow-hidden relative  z-40 p-0 m-0;

      .grid-image {
        @apply aspect-square relative z-0  object-cover;
      }
      .grid-image:after {
      }
    }

    .grid-image-container::after {
      content: "";
      width: inherit;
      height: inherit;
      transition: all 0.3s ease;
      box-shadow: inset 0px -6px 15px 10px rgba(0, 0, 0, 0.65);
      @apply opacity-0 pointer-events-none absolute z-10;
    }
  }
}

.grid-tip {
  transition: all 0.3s ease;
  transform: translateY(200%);
  @apply flex z-20 absolute w-full h-auto cursor-pointer pointer-events-none text-wrap opacity-0 bottom-0  left-0 text-white hyphens-auto  font-semibold   tracking-wider !text-[10px] p-1 uppercase text-end align-text-bottom justify-start;
}

.grid-item:hover {
  @apply ring-[2px] ring-secondary;
  .grid-image-container {
    .grid-tip {
      transform: none;
      @apply opacity-100;
    }
  }

  .grid-image-container::after {
    @apply opacity-100;
  }
}
