#content {
  top: 0;
  left: 0;
  @apply w-screen h-screen absolute z-auto px-[0px] pt-2;
}

#resize-panel-1,
#resize-panel-2,
#resize-panel-3 {
  overflow: auto !important;
  @apply py-3 scroll-auto pt-[36px];
}

#resize-panel-1 {
  @apply mt-[0px] /*backdrop-blur-md bg-background/60*/;
}

#resize-handle-1 div {
  @apply border-none bg-transparent;

  svg {
    @apply size-fit;
  }
}

[data-pc-section="nodechildren"] [data-pc-section="nodecontent"] {
  @apply pl-5;
}

[aria-label="Builds"] [data-pc-section="nodechildren"] {
  ul [data-pc-section="nodechildren"] {
    @apply pl-3;
  }
}
.add-build {
  @apply order-3 flex absolute right-0 -top-1;
  .add-fill {
    @apply inline-flex h-[17px] w-[17px];
  }
  .add-reg {
    @apply hidden h-[17px] w-[17px];
  }
}

.add-build:hover {
  .add-fill {
    @apply hidden;
  }
  .add-reg {
    @apply inline-flex;
  }
}
/*
[aria-expanded="true"] [data-pc-section="nodechildren"] {
  @apply animate-in slide-in-from-top fade-in duration-300 z-0;
}

[aria-expanded="false"] [data-pc-section="nodechildren"] {
  @apply animate-out slide-out-to-top fade-out duration-700 z-0;
}*/

#tree1 [aria-label="Champions"][aria-level="1"],
#tree1 [aria-label="Items"][aria-level="1"],
#tree1 [aria-label="Runes"][aria-level="1"],
#tree1 [aria-label="Settings"],
#tree1 [aria-label="Account"] {
  @apply hidden;
}

#tree2 [aria-label="Home"],
#tree2 [aria-label="Builds"],
#tree2 [aria-label="Favorites"],
#tree2 [aria-label="Settings"],
#tree2 [aria-label="Calculator"],
#tree2 [aria-label="Account"] {
  @apply hidden;
}

#tree3 [aria-label="Home"],
#tree3 [aria-label="Builds"],
#tree3 [aria-label="Favorites"],
#tree3 [aria-label="Champions"][aria-level="1"],
#tree3 [aria-label="Items"][aria-level="1"],
#tree3 [aria-label="Runes"][aria-level="1"],
#tree3 [aria-label="Calculator"] {
  @apply hidden;
}
