:root {
  font-family: "Geist Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rounded-box: 1rem !important;
  --rounded-btn: 0.5rem !important;
  --rounded-badge: 1.9rem !important;
  --animation-btn: 0.25s !important;
  --animation-input: 0.2s !important;
  --btn-focus-scale: 0.95 !important;
  --border-btn: 1px !important;
  --tab-border: 1px !important;
  --tab-radius: 0.5rem !important;

  overscroll-behavior: contain;

  @apply scroll-smooth bg-transparent;
}

[data-theme="light"] .glass {
  --glass-reflex-opacity: 0;
  --glass-reflex-degree: 0;
  --glass-blur: 5px;
  --glass-opacity: 0.3;
}

[data-theme="light"] .set-bg {
  @apply bg-blend-lighten backdrop-brightness-200 bg-base-100/60 glass;
}

[data-theme="nord"] .glass,
[data-theme="dark"] .glass {
  --glass-reflex-opacity: 0;
  --glass-reflex-degree: 0;
  --glass-blur: 10px;
  --glass-opacity: 0.1;
}

.tooltip {
  @apply ![--tooltip-offset:30px] ![--tooltip-tail-offset:24px];
}

.font-serif {
  font-family: "Playfair Display Variable", ui-serif, "Times New Roman", Times, serif !important;
}

.font-mono {
  font-family: "Geist Mono", ui-monospace, "Courier New", Courier, monospace !important;
}

.font-sans {
  font-family:
    "Geist Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important;
}

html,
body,
body:before,
body:after {
  @apply m-0 p-0 overflow-hidden w-screen h-screen;
}

html,
body {
  @apply border-none outline-none ring-0 bg-transparent;
}

/*#app::before {
content:'';
border-style: solid;
border-width: 4px;
border-radius: 10px;

box-shadow: inset 0px 0px 4px 1px rgba(25, 25, 25, 0.3);
@apply absolute top-[36px] left-[1px] w-[calc(100%-2px)] h-[calc(100%-36px)] border-background border-opacity-95 border-l-[4px] border-r-[4px] border-b-[5px] border-t-0 border-solid z-10 pointer-events-none ;
}*/

/*
#app::after {
  content: "";
  border-radius: 9px;
  @apply absolute top-[0px] left-0 h-full w-full z-30 pointer-events-none;
}*/

/*.titlebar::after {
  content: '';
  mask-image: linear-gradient(to top, #000, #000),
    radial-gradient(circle 15px at center, #000 80%, transparent 81%);
  mask-repeat: no-repeat;
  mask-composite: subtract;
  outline: 2px solid red;
  @apply absolute z-50 top-20 left-20 size-[30px];

}*/
