[data-theme="light"] {
  --b1: 100% 0 0;
  --b2: 93% 0 0;
  --b3: 86% 0 0;
  --bc: 22.3899% 0.031305 278.07229;
  --n: 22.3899% 0.031305 278.07229;
  --nc: 95.8796% 0.008588 247.915135;
}

[data-theme="dark"] {
  --b1: 24.3535% 0 0;
  --b2: 22.6487% 0 0;
  --b3: 20.944% 0 0;
  --bc: 84.8707% 0 0;
  --n: 27.441% 0.01325 253.041249;
  --nc: 85.4882% 0.00265 253.041249;
}

[data-theme="nord"] {
  --b1: 30.8577% 0.023243 264.149498;
  --b2: 28.0368% 0.01983 264.182074;
  --b3: 26.3469% 0.018403 262.177739;
  --bc: 82.9011% 0.031335 222.959324;
  --n: 24.7311% 0.020483 264.094728;
  --nc: 82.9011% 0.031335 222.959324;
}
