[data-theme="light"] {
  --b1: 100% 0 0;
  --b2: 93% 0 0;
  --b3: 86% 0 0;
  --bc: 22.3899% 0.031305 278.07229;
  --n: 22.3899% 0.031305 278.07229;
  --nc: 95.8796% 0.008588 247.915135;
}

[data-theme="dark"] {
  --b1: 100% 0 0;
  --b2: 93% 0 0;
  --b3: 86% 0 0;
  --bc: 22.3899% 0.031305 278.07229;
  --n: 22.3899% 0.031305 278.07229;
  --nc: 95.8796% 0.008588 247.915135;
}
