@import 'tailwindcss';
@import './theme';

@theme {
  --color-discord: oklch(58% 52 274);

  --color-all-roles: oklch(37% 0 0);

  /* path */
  --color-precision: oklch(85.49% 0.0892 84.09);
  --color-domination: oklch(60.61% 0.1206 15.34);
  --color-sorcery: oklch(69.02% 0.0644 332.52);
  --color-resolve: oklch(76.8% 0.0749 131.06);
  --color-inspiration: oklch(76.93% 0.0494 204.19);

  /* rank */
  --color-iron: oklch(49.16% 0.0168 35.72);
  --color-bronze: oklch(57.31% 0.0484 39.76);
  --color-silver: oklch(65.69% 0.022 257.49);
  --color-gold: oklch(85.49% 0.0892 84.09);
  --color-platinum: oklch(69.21% 0.085 233.45);
  --color-emerald: oklch(56.81% 0.0628 168.43);
  --color-diamond: oklch(62.17% 0.1762 284.11);
  --color-master: oklch(75.18% 0.1157 325.26);
  --color-grandmaster: oklch(68.06% 0.1352 26.61);
  --color-challenger: oklch(83.25% 0.0787 213.4);

  --color-onhit: oklch(70.72% 0.099 10.55);
  --color-mana-hex: #145b96;
  --color-energy: #d0b800;
  --color-error: oklch(59.33% 0.1319 21.78);
  --color-top: #e0746b;
  --color-fighter: oklch(78.32% 0.1173 37);
  --color-apen: oklch(0.6 0.1303 32.32);
  --color-ad: oklch(0.6903 0.121 65.62);
  --color-g: oklch(0.795 0.1468 90.49);
  --color-as: oklch(0.8049 0.1129 84.09);
  --color-hp: oklch(0.67 0.0922 132.84);
  --color-mp5: oklch(77% 19% 239deg);
  --color-hsp: oklch(0.7329 0.0743 192.64);
  --color-ah: oklch(0.7329 0.1007 192.64);
  --color-mana: oklch(0.6173 0.096 231.0549);
  --color-mr: oklch(70% 33% 319deg);

  --color-ap: oklch(65% 25% 310deg);
  --color-transparent: #00000000;
  --color-black: oklch(0% 0 0);
  --color-black-10: oklch(10% 0 0);
  --color-black-15: oklch(15% 0 0);
  --color-black-20: oklch(20% 0 0);
  --color-black-21: oklch(20.2% 0 0);
  --color-black-22: oklch(22% 0 0);
  --color-black-30: oklch(30% 0 0);
  --color-black-35: oklch(35% 0 0);
  --color-black-25: oklch(25% 0 0);
  --color-black-50: oklch(50% 0 0);

  --color-white: oklch(100% 0 0);
  --color-white-95: oklch(95% 0 0);
  --color-white-90: oklch(90% 0 0);
  --color-white-85: oklch(85% 0 0);
  --color-white-80: oklch(80% 0 0);
  --color-white-70: oklch(70% 0 0);

  --color-white-hex: #ffffff;

  --color-tiny-carrot: oklch(78.32% 0.1173 37);
  --color-bottom: #ebcb8b;
  --color-mid: #be86b5;
  --color-vanguard: oklch(0.7 0.0922 75.66);
  --color-warden: oklch(44% 11% 246deg);
  --color-burst: oklch(82% 16% 14deg);
  --color-enchanter: oklch(76% 11% 193deg);
  --color-olive: oklch(48% 10% 113deg);
}

@theme inline {
  --mana-hex: var(--color-mana-hex);
  --mana: var(--color-mana);
  --platinum: var(--color-platinum);
  --mp5: var(--color-mp5);
  --challenger: var(--color-challenger);
  --hsp: var(--color-hsp);
  --enchanter: var(--color-enchanter);
  --ah: var(--color-ah);
  --emerald: var(--color-emerald);
  --hp: var(--color-hp);
  --resolve: var(--color-resolve);

  --onhit: var(--color-onhit);
  --burst: var(--color-burst);

  --energy: var(--color-energy);
  --error: var(--color-error);
  --top: var(--color-top);
  --fighter: var(--color-fighter);
  --apen: var(--color-apen);
  --ad: var(--color-ad);
  --armor: var(--color-iron);
  --g: var(--color-g);
  --as: var(--color-as);
  --mr: var(--color-mr);
  --ap: var(--color-ap);

  --iron: var(--color-iron);
  --bronze: var(--color-bronze);
  --silver: var(--color-silver);
  --gold: var(--color-gold);
  --diamond: var(--color-diamond);
  --master: var(--color-master);
  --grandmaster: var(--color-grandmaster);
  --vanguard: var(--color-vanguard);
  --warden: var(--color-warden);

  --color-utility: var(--color-inspiration);
  --color-mobility: var(--color-precision);
  --color-toughness: var(--color-resolve);
  --color-control: var(--color-sorcery);
  --color-damage: var(--color-domination);

  --color-s-plus: var(--color-challenger);
  --color-s-plus: var(--color-master);
  --color-s-minus: var(--color-diamond);

  --black-22: var(--color-black-22);
  --black-30: var(--color-black-30);
  --black-35: var(--color-black-35);
  --black-25: var(--color-black-25);
  --black-50: var(--color-black-50);
  --white: var(--color-white);
  --white-95: var(--color-white-95);
  --white-90: var(--color-white-90);
  --white-85: var(--color-white-85);
  --white-80: var(--color-white-80);
  --white-70: var(--color-white-70);
}

[data-role='support'] {
  &.role-bg {
    @apply bg-inspiration;
  }
}

[data-role='middle'] {
  &.role-bg {
    @apply bg-sorcery;
  }
}

[data-role='bottom'] {
  @apply !bg-precision;
}
[data-role='top'] {
  &.role-bg {
    @apply bg-domination;
  }
}
[data-role='jungle'] {
  &.role-bg {
    @apply bg-resolve;
  }
}

.animated-gradient {
  animation: animateBg 5s linear infinite;
  background-size: 200% 500%;
  animation-direction: alternate-reverse;
  background-repeat: repeat;
}
@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.gradient {
  background: linear-gradient(
    137deg,
    rgba(231, 207, 120, 0.7) 0%,
    rgba(220, 124, 124, 0.7) 20%,
    rgba(178, 164, 221, 0.7) 36%,
    rgba(100, 158, 236, 0.6) 46%,
    rgba(175, 212, 150, 0.7) 62%,
    rgba(165, 226, 229, 0.7) 80%,
    rgba(174, 220, 242, 0.7) 100%
  );
  background-size: 580%;
  transition: all 0.5s ease-in-out;
}

.gradient[data-path='Precision'] {
  background-position: 0%;
}

.gradient[data-path='Domination'] {
  background-position: 20%;
}

.gradient[data-path='Sorcery'] {
  background-position: 44%;
}

.gradient[data-path='Resolve'] {
  background-position: 80%;
}

.gradient[data-path='Inspiration'] {
  background-position: 100%;
}
