@import "tailwindcss";
@import "./theme";

@theme {
  --color-discord: oklch(58% 52% 274deg);
  --color-precision: oklch(85.49% 0.0892 84.09);

  --color-domination: oklch(60.61% 0.1206 15.34);
  --color-domination-light: oklch(81.67% 0.044 12.73);

  --color-sorcery: oklch(69.02% 0.0644 332.52);
  --color-sorcery-light: oklch(80.99% 0.0273 327.74);

  --color-resolve: oklch(76.83% 0.0749 131.06);
  --color-resolve-light: oklch(85.55% 0.0188 127.18);
  --color-inspiration: oklch(76.93% 0.0494 204.19);
  --color-inspiration-light: oklch(94.48% 0.0273 204.19);

  --color-iron: oklch(49.16% 0.0168 35.72);
  --color-bronze: oklch(57.31% 0.0484 39.76);
  --color-silver: oklch(65.69% 0.022 257.49);
  --color-gold: oklch(85.49% 0.0892 84.09);
  --color-platinum: oklch(69.21% 0.085 233.45);
  --color-emerald: oklch(56.81% 0.0628 168.43);
  --color-diamond: oklch(62.17% 0.1762 284.11);
  --color-master: oklch(75.18% 0.1157 325.26);

  --color-grandmaster: oklch(68.06% 0.1352 26.61);

  --color-challenger: oklch(83.25% 0.0787 213.4);
  --color-challenger-w600: color-mix(
    in srgb,
    var(--color-challenger) 100%,
    white 60%
  );
  --color-challenger-b100: color-mix(
    in srgb,
    var(--color-challenger) 100%,
    black 10%
  );

  --color-transparent: #00000000;
  --color-black: oklch(0% 0 0);
  --color-black-10: oklch(10% 0 0);
  --color-black-15: oklch(15% 0 0);
  --color-black-20: oklch(20% 0 0);
  --color-black-21: oklch(20.2% 0 0);
  --color-black-22: oklch(22% 0 0);
  --color-black-30: oklch(30% 0 0);
  --color-black-35: oklch(35% 0 0);
  --color-black-25: oklch(25% 0 0);
  --color-black-50: oklch(50% 0 0);

  --color-white: oklch(100% 0 0);
  --color-white-95: oklch(95% 0 0);
  --color-white-90: oklch(90% 0 0);
  --color-white-85: oklch(85% 0 0);
  --color-white-80: oklch(80% 0 0);

  --color-white-hex: #ffffff;

  --color-onhit: oklch(70.72% 0.099 10.55);
  --color-mana-hex: #145b96;
  --color-energy: #d0b800;

  --color-error: oklch(59.33 0.1319 21.78);

  --color-top: #e0746b;
  --color-fighter: oklch(78.32% 0.1173 37);

  --color-apen: oklch(0.6 0.1303 32.32);
  --color-ad: oklch(0.6903 0.121 65.62);
  --color-armor: oklch(0.7 0.0922 75.66);
  --color-g: oklch(0.795 0.1468 90.49);
  --color-as: oklch(0.8049 0.1129 84.09);
  --color-hp: oklch(0.67 0.0922 132.84);
  --color-hsp: oklch(0.7329 0.0743 192.64);
  --color-ah: oklch(0.7329 0.1007 192.64);
  --color-mana: oklch(0.6173 0.096 231.0549);
  --color-mr: oklch(0.6687 0.1068 226.01);
  --color-ap: oklch(0.6424 0.0997 280.8);

  --color-fighter-light: #fbd9c2;

  --color-tiny-carrot: oklch(78.32% 0.1173 37);
  --color-bottom: #ebcb8b;
  --color-mid: #be86b5;

  --bg-radial-smooth: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.87) 23%,
    rgba(255, 255, 255, 0.83) 34%,
    rgba(255, 255, 255, 0.78) 41%,
    rgba(255, 255, 255, 0.67) 50%,
    rgba(255, 255, 255, 0.63) 53%,
    rgba(255, 255, 255, 0.53) 59%,
    rgba(255, 255, 255, 0.43) 64%,
    rgba(255, 255, 255, 0.37) 67%,
    rgba(255, 255, 255, 0.19) 75%,
    rgba(255, 255, 255, 0.12) 79%,
    rgba(255, 255, 255, 0.07) 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

@theme inline {
  /* paths */

  --color-precision-w600: color-mix(
    in srgb,
    var(--color-precision) 100%,
    white 60%
  );
  --color-precision-b100: color-mix(
    in srgb,
    var(--color-precision) 100%,
    black 10%
  );
  --color-domination-w600: color-mix(
    in srgb,
    var(--color-domination) 100%,
    white 60%
  );
  --color-domination-b100: color-mix(
    in srgb,
    var(--color-domination) 100%,
    black 10%
  );
  --color-sorcery-w600: color-mix(
    in srgb,
    var(--color-sorcery) 100%,
    white 60%
  );
  --color-sorcery-b100: color-mix(
    in srgb,
    var(--color-sorcery) 100%,
    black 10%
  );
  --color-resolve-w600: color-mix(
    in srgb,
    var(--color-resolve) 100%,
    white 60%
  );
  --color-resolve-b100: color-mix(
    in srgb,
    var(--color-resolve) 100%,
    black 10%
  );

  --color-inspiration-w600: color-mix(
    in srgb,
    var(--color-inspiration) 100%,
    white 60%
  );
  --color-inspiration-b100: color-mix(
    in srgb,
    var(--color-inspiration) 100%,
    black 10%
  );

  --color-middle: var(--color-sorcery);

  --color-jungle: #a3be8c;

  --color-utility: var(--color-inspiration);
  --color-mobility: var(--color-precision);
  --color-toughness: var(--color-resolve);
  --color-control: var(--color-sorcery);
  --color-damage: var(--color-domination);

  --color-support: var(--color-inspiration);
  --color-marksman: var(--color-precision);
  --color-mage: var(--color-sorcery);
  --color-tank: var(--color-resolve);
  --color-assassin: var(--color-domination);

  --color-support-light: var(--color-inspiration-light);
  --color-marksman-light: var(--color-precision-light);
  --color-mage-light: var(--color-sorcery-light);
  --color-tank-light: var(--color-resolve-light);
  --color-assassin-light: var(--color-domination-light);

  --color-s-plus: var(--color-challenger);
  --color-s-plus: var(--color-master);
  --color-s-minus: var(--color-diamond);
}

@utility iron {
  background-color: var(--color-iron);
  color: var(--color-iron);
}

@utility bronze {
  background-color: var(--color-bronze);
  color: var(--color-bronze);
}

/* beautify-ignore start*/
.silver {
  @apply text-[var(--color-silver)];
}

@utility gold {
  background-color: var(--color-gold);
  color: var(--color-gold);
}

.platinum {
  @apply text-[var(--color-platinum)];
}

@utility emerald {
  background-color: var(--color-emerald);
  color: var(--color-emerald);
}

@utility diamond {
  background-color: var(--color-diamond);
  color: var(--color-diamond);
}

@utility master {
  background-color: var(--color-master);
  color: var(--color-master);
}

@utility grandmaster {
  background-color: var(--color-grandmaster);
  color: var(--color-grandmaster);
}

@utility challenger {
  background-color: var(--color-challenger);
  color: var(--color-challenger);
}

[data-role="support"] {
  &.role-bg {
    @apply bg-inspiration;
  }
}

[data-role="middle"] {
  &.role-bg {
    @apply bg-sorcery;
  }
}

[data-role="bottom"] {
  &.role-bg {
    @apply bg-precision;
  }
}
[data-role="top"] {
  &.role-bg {
    @apply bg-domination;
  }
}
[data-role="jungle"] {
  &.role-bg {
    @apply bg-resolve;
  }
}

.empty {
  background: linear-gradient(
    137deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(193, 193, 193, 0.8) 10%,
    rgba(233, 233, 233, 1) 75%,
    rgba(252, 252, 252, 0) 90%
  );
}

.bg-round-white {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.87) 23%,
    rgba(255, 255, 255, 0.83) 34%,
    rgba(255, 255, 255, 0.78) 41%,
    rgba(255, 255, 255, 0.67) 50%,
    rgba(255, 255, 255, 0.63) 53%,
    rgba(255, 255, 255, 0.53) 59%,
    rgba(255, 255, 255, 0.43) 64%,
    rgba(255, 255, 255, 0.37) 67%,
    rgba(255, 255, 255, 0.19) 75%,
    rgba(255, 255, 255, 0.12) 79%,
    rgba(255, 255, 255, 0.07) 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

.animated-progress {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(
    35deg,
    var(--color-nc),
    transparent,
    var(--color-nc),
    transparent
  );
  background-size: 100% 300%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.gradient {
  background:
    linear-gradient(
      137deg,
      rgba(231, 207, 120, 0.7) 0%,
      rgba(220, 124, 124, 0.7) 20%,
      rgba(178, 164, 221, 0.7) 36%,
      rgba(100, 158, 236, 0.6) 46%,
      rgba(175, 212, 150, 0.7) 62%,
      rgba(165, 226, 229, 0.7) 80%,
      rgba(174, 220, 242, 0.7) 100%
    ),
    var(--background-image-noise);
  background-size: 580%;
  transition: all 0.5s ease-in-out;
}

.gradient[data-path="Precision"] {
  background-position: 0%;
}

.gradient[data-path="Domination"] {
  background-position: 20%;
}

.gradient[data-path="Sorcery"] {
  background-position: 44%;
}

.gradient[data-path="Resolve"] {
  background-position: 80%;
}

.gradient[data-path="Inspiration"] {
  background-position: 100%;
}
