@import 'tailwindcss';

@import './index.css';

@source "./colors.css";

@source "./theme.css";

@source not "../icons";

@source not "../img";

@layer base {
  :root {
    font-size: 12px;
    /* user-select: none; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply border-b3 decoration-from-font underline-offset-2;
  }
img {
  @apply select-none;
}
  html,
  body,
  #app {

    scrollbar-color: --alpha(var(--color-b3) / 40%) transparent;
    scrollbar-width: thin;
    font-family: var(--font-sans);
    @apply text-bc h-screen w-screen text-3 selection:bg-n1/80 selection:text-nc relative;
  }

  input,
  input:where(:not([type='button'], [type='reset'], [type='submit'])),
  select,
  textarea,
  .reset-input {
    @apply border-transparent outline-0 ring-0 ring-offset-0 focus:outline-0
    focus:ring-0;
  }

  html {
    font-size: 12px;
  }

  body {
  }

  .vt-expand-enter-from,
.vt-expand-appear-from {
  max-height: none !important;
  transform: none !important;
}
}

@layer components {
  h1 {
    @apply text-9;
  }

  h2 {
    @apply text-7;
  }

  h3 {
    @apply text-6;
  }

  h4 {
    @apply text-5;
  }

  h5 {
    @apply text-4;
  }

  h6 {
    @apply text-2 font-semibold antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply  antialiased;
  }


  h6 {
    @apply  text-bc/50 flex gap-3;
  }

  h1,
  h2,
  h3 {
    @apply dst font-bold;
  }
  h4 {
    @apply font-semibold dst;
  }
  p {
    @apply leading-5.25 antialiased;
  }

  span {
    @apply antialiased;
  }
}

@layer utilities {
  .border-b,
  .border-t,
  .border-r,
  .border-l,
  .border-x,
  .border-y {
    @apply border-b3;
  }
}
