@import 'tailwindcss';

@import './index.css';

@source "./colors.css";

@source "./theme.css";

@source not "../icons";

@source not "../img";

@layer base {
  :root {
    scrollbar-color: oklch(0 0.02476 255.702 / 0.075) rgba(0, 0, 0, 0) !important;
    font-size: 12px;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply border-b3 decoration-from-font;
  }

  html,
  body,
  #app {
    font-family: var(--font-sans);
    @apply text-bc h-screen w-screen text-sm selection:bg-n1/80 selection:text-nc;
  }

  input,
  input:where(:not([type='button'], [type='reset'], [type='submit'])),
    select,
    textarea,
    .reset-input {
    @apply border-transparent outline-0 ring-0 ring-offset-0 focus:outline-0
    focus:ring-0;
  }

  html {
    font-size: 12px;
  }

  body {
    @apply bg-b1;
  }
}

@layer components {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-md;
  }

  h6 {
    @apply text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-snug antialiased;
  }

  h1,
  h2,
  h3 {
    @apply drop-shadow-text font-bold;
  }

  p {
    @apply leading-5.25 antialiased;
  }

  span {
    @apply antialiased;
  }
}

@layer utilities {
  .border-b,
  .border-t,
  .border-r,
  .border-l,
  .border-x,
  .border-y {
    @apply border-b3;
  }
}
