@import "tailwindcss";

:root {
  @theme inline {
    --navbar-height: 4rem;
    --color-b1: var(--b1);
    --color-b2: var(--b2);
    --color-b3: var(--b3);
    --color-b4: var(--b4);
    --color-bc: var(--bc);
    --color-n3: var(--n3);
    --color-n2: var(--n2);
    --color-n1: var(--n1);
    --color-nc: var(--nc);
    --color-a1: var(--a1);
    /* base */
    --b2w2: color-mix(in oklch, var(--b2) 100%, white 20%);

    --b2b1: color-mix(in oklch, var(--b2) 100%, black 10%);

    --b3b1: color-mix(in oklch, var(--b3) 100%, black 50%);
  }
}

@theme {
  --default-font-family:
    "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --radius-xl: initial;
  --radius-xl: 0.7rem;
  --radius-xxl: 0.75rem;
  --radius-md-1: 0.52rem;
  --radius-lg-1: 0.6rem;
  --radius-lg-2: 0.62rem;
  --radius-tiny: 4px;

  --radius-selector: 0.4rem;
  --radius-box: 1rem;
  --depth: 1;
  --noise: 1;

  --font-sans:
    "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif:
    "Noto Serif KR Variable", Charter, "Bitstream Charter", "Sitka Text",
    Cambria, serif;
  --font-mono:
    ui-monospace, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --bg-noise: url("/assets/img/nnnoise.svg");

  --text-xs: 0.9rem !important;
  --text-sm: 0.99rem;
  --text-md: 1.05rem;
  --text-00: 0.78rem;
  --text-0: 0.82rem;
  --text-1: 0.86rem;
  --text-2: 0.94rem;
  --text-3: 0.99rem;
  --text-4: 1.05rem;
  --text-5: 1.15rem;
  --text-6: 1.35rem;
  --text-7: 1.5rem;
  --text-8: 1.675rem;
  --text-9: 1.875rem;
  --text-10: 2.25rem;
  --text-11: 2.5rem;
  --text-12: 2.7rem;
  --text-13: 3.5rem;
  --text-14: 4rem;
  --text-15: 7rem;

  --tracking-bold: 0.023em;

  --shadow-pretty: 0 3px 10px rgba(0, 0, 0, 0.2);
  --shadow-warm: rgba(0, 0, 0, 0.08) 0px 2px 7px;
  --shadow-warm-2: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  --shadow-warm-soft: rgba(0, 0, 0, 0.03) 0px 2px 5px;
  --shadow-standard:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --shadow-smooth: 0px 1px 10px rgba(17, 17, 26, 0.075);
  --shadow-outline: rgba(0, 0, 0, 0.15) 0px 3px 3px 1px;
  --shadow-outline-4:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-flat:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --shadow-mask: 0px 3px 20px 30px #00000024;
  --inset-shadow-mask: inset 0px 0px 20px 16px #00000024;
  --inset-shadow-sides: inset 0 0 2px 2px rgba(0, 0, 0, 0.06);
  --inset-shadow-sm-reverse: inset -1px -1px 25px 0px rgba(0, 0, 0, 0.04);
  --drop-shadow-text: 1px 0px 0px #00000020;

  --dst: 1px 0px 0px #00000020;

  @keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}
