@import "tailwindcss";

:root {
  @theme inline {
    --color-b1: var(--b1);
    --color-b2: var(--b2);
    --color-b3: var(--b3);
    --color-b4: var(--b4);
    --color-b5: var(--b5);
    --color-bc: var(--bc);
    --color-n3: var(--n3);
    --color-n2: var(--n2);
    --color-n1: var(--n1);
    --color-neutral: var(--n1);
    --color-nc: var(--nc);

    /* path */
    --color-precision: var(--precision);
    --color-domination: var(--domination);
    --color-sorcery: var(--sorcery);
    --color-resolve: var(--resolve);
    --color-inspiration: var(--inspiration);
  }
}

@theme {
  --container-700: 700px;

  --default-font-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif:
    "Noto Serif KR", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-mono:
    "Red Hat Mono", SFMono-Regular, ui-monospace, "Liberation Mono",
    "Courier New", Consolas, Menlo, Monaco, monospace;

  --font-tab:
    "Tabular", SFMono-Regular, ui-monospace, "Liberation Mono", "Courier New",
    Consolas, Menlo, Monaco, monospace;

  --spacing-mw: calc(100vw - 45px);
  --spacing-mh: calc(100vh - 45px);
  --spacing-header: 45px;
  --radius-xl: initial;
  --radius-xl: 0.7rem;
  --radius-xxl: 0.75rem;
  --radius-md-1: 0.52rem;
  --radius-lg-1: 0.6rem;
  --radius-lg-2: 0.62rem;
  --radius-tiny: 4px;
  --radius-nano: 3px;

  --radius-selector: 0.4rem;
  --radius-box: 1rem;
  --depth: 1;
  --noise: 1;
  --height-header: 40px;

  --text-*: initial;
  --text-00: 0.78rem;
  --text-0: 0.82rem;
  --text-1: 0.89rem;
  --text-2: 0.94rem;
  --text-3: 0.99rem;
  --text-4: 1.05rem;
  --text-5: 1.15rem;
  --text-6: 1.3rem;
  --text-7: 1.5rem;
  --text-8: 1.675rem;
  --text-9: 1.875rem;
  --text-10: 2rem;

  --shadow-pretty: 0 3px 10px rgba(0, 0, 0, 0.2);
  --shadow-warm: rgba(0, 0, 0, 0.08) 0px 2px 7px;
  --shadow-warm-2: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  --shadow-warm-soft: rgba(0, 0, 0, 0.03) 0px 2px 5px;
  --shadow-smooth: 0px 1px 10px rgba(17, 17, 26, 0.075);
  --shadow-flat:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --shadow-mask: 0px 3px 20px 30px #00000024;
  --inset-shadow-mask: inset 0px 0px 20px 16px #00000024;
  --inset-shadow-sides: inset 0 0 2px 2px rgba(0, 0, 0, 0.06);
  --inset-shadow-sm-reverse: inset -1px -1px 25px 0px rgba(0, 0, 0, 0.04);
  --inset-shadow-shade-sm: inset 0 0px 3px 1px rgba(0, 0, 0, 0.04);
  --inset-shadow-sm-x: inset 0 -2px 4px rgb(0 0 0 / 0.05);
  --inset-shadow-xxs:
    inset 0.5px 0.5px 0px rgb(0 0 0 / 0.05),
    inset -0.5px -0.5px 0px rgb(0 0 0 / 0.1);

  --drop-shadow-tiny: 1px 0px 0px #00000020;

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(1.05);
    }
  }

  --animate-hue: rainbow 4s steps(36) infinite;
  @keyframes rainbow {
    from {
      filter: hue-rotate(10deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

  --animate-heartbeat: heartbeat 0.6s ease-in-out;

  --ease-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-spring-soft: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-spring-bouncy: cubic-bezier(0.42, 1.8, 0.68, 1);
}
