@import "tailwindcss";

@custom-variant light (
  &:where([data-theme=daylight], [data-theme=daylight] *),
  &:where([data-theme=dawn], [data-theme=dawn] *)
  );

@custom-variant dark (
  &:where([data-theme=midnight], [data-theme=midnight] *),
  &:where([data-theme=dusk], [data-theme=dusk] *)
  );

[data-theme="daylight"],
[data-theme="dawn"] {
  --precision: oklch(85.49% 0.0892 84.09);
  --domination: oklch(60.61% 0.1206 15.34);
  --sorcery: oklch(69.02% 0.0644 332.52);
  --resolve: oklch(76.8% 0.0749 131.06);
  --inspiration: oklch(76.93% 0.0494 204.19);
}

[data-theme="dusk"],
[data-theme="midnight"] {
  --precision: oklch(56% 19% 83deg);
  --domination: oklch(43% 21% 16deg);
  --sorcery: oklch(50% 12% 333deg);
  --resolve: oklch(50% 16% 131deg);
  --inspiration: oklch(48% 8% 207deg);
}

[data-theme="daylight"] {
  @theme inline {
    --b1: oklch(100% 0 0);
    --b2: oklch(95.12% 0 0);
    --b3: oklch(89% 0 0);
    --bc: oklch(0% 0 255);
    --n3: oklch(35% 0% 68deg);
    --n2: oklch(29.68% 0 59.9);
    --n1: oklch(0% 0 255);
    --nc: oklch(82% 0 0);
  }
}

[data-theme="dawn"] {
  --b1: oklch(97.04% 0.0029 84.56);
  --b2: oklch(94.91% 0.0067 53.44);
  --b3: oklch(89.96% 0.007 67.74);
  --bc: oklch(0% 0.02476 255.701624);
  --n1: oklch(27% 0.006 286.033);
  --nc: oklch(97.788% 0.004 56.375);
}

[data-theme="winter"] {
  --b1: oklch(95.127% 0.007 260.731);
  --b2: oklch(45.229% 0.035 264.131);
  --n1: oklch(89.925% 0.016 262.749);
  --b3: oklch(93.299% 0.01 261.788);
  --bc: oklch(32.437% 0.022 264.182);
  --nc: oklch(45.229% 0.035 264.131);
}

[data-theme="dusk"] {
  --b1: oklch(29% 0.018 264.15);
  --b2: oklch(33% 0.019 264.15);
  --b3: oklch(36% 0.012 262.18);
  --bc: oklch(84.8707% 0 0);
  --n1: oklch(84.8707% 0 0);
  --nc: oklch(24.73% 0.0205 264.09);
}

[data-theme="midnight"] {
  --b1: oklch(22% 0 0);
  --b2: oklch(27% 0 0);
  --b3: oklch(34% 0% 0deg);
  --bc: oklch(82% 0 0);
  --n1: oklch(0% 0 255);
  --nc: oklch(92% 0 0);
}
/*  */
:is([data-theme="daylight"]),
:is([data-theme="dawn"]) {
  .invert-light {
    @apply invert;
  }
}

:is([data-theme="dusk"]),
:is([data-theme="midnight"]) {
  .invert-dark {
    @apply invert;
  }
}
