@import "tailwindcss";
@import "@nuxt/ui";
@reference "./theme.css";

:root {
  --ui-text-dimmed: var(--color-bc);
  --ui-text-muted: var(--color-bc);
  --ui-text-toned: var(--color-bc);
  --ui-text: var(--color-bc);
  --ui-text-highlighted: var(--color-nc);
  --ui-text-inverted: var(--color-nc);

  --ui-bg: var(--color-b1);
  --ui-bg-muted: color-mix(in lch, var(--color-b2) 60%, var(--color-b1) 40%);
  --ui-bg-elevated: var(--color-b3);
  --ui-bg-accented: var(--color-b1);
  --ui-bg-inverted: var(--color-bc);

  --ui-border: color-mix(in lch, var(--color-b1) 80%, var(--color-b1) 20%);
  --ui-border-muted: var(--color-b2);
  --ui-border-accented: var(--color-b3);
  --ui-border-inverted: color-mix(in lch, var(--color-bc) 60%, transparent 20%);

  --ui-primary: color-mix(in lch, var(--color-b2) 60%, var(--color-b1) 40%);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
}
